[2017-08-11 02:52] Jimexist opened #1 ""CREATE DATABASE IF NOT EXISTS casbin" is not supported by postgres"
Wrong syntax: https://www.postgresql.org/docs/current/static/sql-createdatabase.html

[2017-08-11 05:18] hsluoyz commented on #1
Thanks for the report. This issue is fixed in: https://github.com/casbin/gorm-adapter/commit/39c09f4f38608456fea5796b473936e753d7996c

[2017-08-11 05:18] #1 closed

[2017-10-06 09:20] maranqz opened #3 "Compatible with sqlite3"
I create new adapter.
[code]
After i get panic `near "DATABASE": syntax error`. I think it's happened because connection string connect to database and not server.
I change https://github.com/casbin/gorm-adapter/blob/8e3239544c1cf4bab113bd2311d8d0842086abe8/adapter.go#L101
to `if a.driverName != "sqlite3"` and all is worked.

[2017-10-06 09:22] maranqz commented on #3
I created pull request.

[2017-10-06 09:22] #3 closed

[2018-08-07 07:34] stevemilk opened #5 "gorm-adapter's DefaultTableNameHandler"
When I use gorm-adapter's DefaultTableNameHandler to add a prefix name to each table, casbin's default table "casbin_rule" cannot be used to remove a policy.
That's because casbin_rule has no primary key, and policy's remove action is different from add action . I tried to init gorm-adapter in front of DefaultTableNameHandler, it still not woked.
Finially, I change casbin's default table name "cas

[2018-08-07 15:08] hsluoyz commented on #5
I think maybe you can modify the code here:

https://github.com/casbin/gorm-adapter/blob/e56c6daebd5e8c657caf3bdf3a647803cf7b242d/adapter.go#L37-L39

Return a table name with your prefix.

[2018-08-13 05:13] hsluoyz commented on #5
Closed as stale.

[2018-08-13 05:13] #5 closed

[2018-10-21 14:26] therecluse26 opened #6 "Panic when trying to connect"
Hi, I'm receiving this error when I try to call NewAdapter using correct (url encoded) credentials.

`panic: mssql: Incorrect syntax near 'casbin'.`

I don't think this is an issue with my connection string, but what do you think? This is how I'm calling it.

[code]

[2018-10-21 14:54] hsluoyz commented on #6
We didn't test against SQL server in the development. So the connect string parsing is probably buggy for SQL server. What SQL server version are you using? Because I need to install one and see why it doesn't work.

You can wait for me to debug this. Maybe it will take 1-2 days. You can also help debug it by yourself if you want. Debug into this adapter, see how the connect string doesn't work fo

[2018-10-22 00:32] #6 closed, assigned to hsluoyz

[2018-12-20 21:20] robert7git opened #8 "why CasbinRule struct dosen't have Id field?"
why
type CasbinRule struct {
	PType string `gorm:"size:100"`
	V0    string `gorm:"size:100"`
	V1    string `gorm:"size:100"`
	V2    string `gorm:"size:100"`
	V3    string `gorm:"size:100"`
	V4    string `gorm:"size:100"`
	V5    string `gorm:"size:100"`
}

[2018-12-21 02:08] hsluoyz commented on #8
Why do you want an Id field?

[2019-03-29 13:55] HaoweiCh opened #11 "I got an err when I Save Policy"
[code]

[2019-03-29 14:13] hsluoyz commented on #11
Hi @HaoweiCh , it seems that Gorm's ``DropTable()`` fails to delete the table for MariaDB, maybe the SQL syntax is wrong for MariaDB. Can you provide a runnable example and your MariaDB version? So I can install the MariaDB and run your code to debug it.

https://github.com/casbin/gorm-adapter/blob/e74a050c51a4c12323e72f0c7ab445fb2daf6b40/adapter.go#L162-L167

[2019-03-30 13:46] HaoweiCh commented on #11
[code]

I guess `.Set("gorm:table_options", "CHARSET=utf8")` may cause this problem. but even remove it problem exists

`10.3.13-MariaDB`

if this info cannot help, I'll try provide more info.

[2019-04-27 02:54] hsluoyz commented on #11
This is not an issue of this repo. You should ask in in Gorm's issue tracker.

[2019-04-27 02:54] #11 closed

[2019-05-08 21:02] sundagy opened #12 "Using casbin in SQL-Query"
Is there a way to use casbin policy checking in a WHERE part of SQL-query? For example, when selecting a list of entries.

[2019-05-09 11:53] hsluoyz commented on #12
Hi @sundagy , Casbin can retrieve policy rules with a filter via the [GetFilteredNamedPolicy()] (https://casbin.org/docs/en/management-api#getfilterednamedpolicy) API, is this what you want? If not, can you provide a concrete example for your SQL's WHERE clause?

[2019-05-13 16:08] sundagy commented on #12
select * from docs where user_id = ? and casbin_enforce(user_id, id, "read")

[2019-05-13 16:14] hsluoyz commented on #12
Since Casbin is a part of SQL, I'm afraid that you can't use Casbin directly in SQL's WHERE. But you can first get all items from ``select * from docs where user_id = ?``, then get all permissions (ids that can be accessed by the user) via ``GetImplicitPermissionsForUser()`` API. Then take the intersection between these two sets. It will be the same result as your proposal.

[2019-06-23 03:35] hsluoyz commented on #12
You can call: [GetImplicitPermissionsForUser()](https://casbin.org/docs/en/rbac#how-to-query-implicit-roles-or-permissions)

[2019-06-23 03:35] #12 closed

[2019-07-03 07:35] echobool opened #14 "Setting the table prefix of Gorm in the project will affect the table prefix of casbin"
Setting the table prefix of Gorm in the project will affect the table prefix of casbin

panic: Error 1146: Table 'casbin.gn4u38i_casbin_rule' doesn't exist

[2019-07-03 07:39] hsluoyz commented on #14
Can you provide the code to set the table prefix? Is the prefix ``'casbin.gn4u38i_`` in your example?

[2019-07-03 07:49] echobool commented on #14
[code]

[code]

[2019-07-03 07:53] hsluoyz commented on #14
I think this issue is caused by this code:

https://github.com/casbin/gorm-adapter/blob/9d922cc6a7c5c95291c1b9d8eaba3a075f3f6f2e/adapter.go#L47-L49

If the user can specify the ``prefix`` in ``NewAdapter()``, then change the above code to:

[code]
Will it be solved?

[2019-07-03 08:00] echobool commented on #14
How to set the prefix of casbin table？

[2019-07-03 08:04] hsluoyz commented on #14
I didn't add it yet. I just asked if this will solve your problem. Can you propose a PR about it based on my idea?

[2019-07-03 08:17] echobool commented on #14
Oh, as long as it can be distinguished, it's OK to be undisturbed.

[2019-07-03 08:43] echobool commented on #14
I don't know if there is any interference in connecting these. Because now it's the same server locally

[2019-07-03 08:51] hsluoyz commented on #14
I don't quite get it. As a basic idea, if your issue is still valid and you have a solution (PR) for it, please don't hesitate to send it here :)

[2019-08-22 17:16] wumoxi commented on #14
I also encountered this BUG，Will it be solved?

[2019-08-22 17:21] wumoxi commented on #14
[code]

[2019-08-23 03:38] hsluoyz commented on #14
@wumoxi please send PR.

[2019-08-23 05:44] wumoxi commented on #14
@hsluoyz PR has been submitted，Thanks!

[2019-08-23 06:22] wumoxi commented on #14
@hsluoyz Adjusted for resubmitting, why [All checks have failed]

[2019-08-23 12:53] #14 closed

[2019-09-04 02:47] grunmin opened #21 "support customize table name"
Our app use multi permission models. I'll init multi Enforce instance while app startup, each Enforce load different model.
I use mysql to persist policy through gorm-adapter. I wanna to save policy to different table so each Enforce can load policy precisely.
How can I do that? Thanks

[2019-09-04 03:58] hsluoyz commented on #21
Use Casbin-Server: https://github.com/casbin/casbin-server

[2019-09-04 09:20] hsluoyz commented on #21
@grunmin I found that you only want to customize the table name. So can you send a PR about it? Also please keep the original usage way (via a default table name).

[2019-09-14 01:33] chmorgan opened #22 "looking for newer release of gorm-adapter"
Would it be possible to bump the version and perform a new release? I'd like to use `NewAdapterByDBUsePrefix()` but this isn't present in the current v2 release.

If I can help somehow please let me know.

[2019-09-14 06:16] hsluoyz commented on #22
Released: https://github.com/casbin/gorm-adapter/releases/tag/v2.0.1

[2019-09-14 06:16] #22 closed

[2019-09-14 06:17] hsluoyz commented on #21
Resolved in v2.0.1: https://github.com/casbin/gorm-adapter/releases/tag/v2.0.1

[2019-09-14 06:17] #21 closed

[2019-09-22 18:59] berk-can commented on #21
Can you please let us edit table name as we want, not only adding a prefix

[2019-09-24 14:06] hsluoyz commented on #21
@berk-can please send a PR

[2019-09-24 14:24] berk-can commented on #21
I actually downloaded project and edited function myself
[code]
as above, but this prevents adding prefix to table name as it uses TablePrefix as actual name of table, and it fails if not provided, so I dont know how to make an edit to both preserve prefix and add functionality to change table name altogether.

But if you want I can change TablePrefix to TableName which I think would be more usabl

[2019-09-25 12:03] riceChuang opened #23 "Can't call func LoadPolicy by using tablePrefix"
first i init an enforcer by using tablePrefix
[code]

then i call func cas.LoadPolicy(), that won't found any policy cuz it search db.casbin_rule
not db.test_casbin_rule

here is the code
[code]

[2019-09-25 13:51] hsluoyz commented on #23
Please send a PR.

[2019-09-27 02:20] riceChuang commented on #23
Would it be possible to bump the version and perform a new release?

[2019-09-27 02:36] hsluoyz commented on #23
When your PR is merged, I will bump the version and release it.

[2019-09-27 02:40] riceChuang commented on #23
it already merge in
https://github.com/casbin/gorm-adapter/pull/24

[2019-09-27 02:52] hsluoyz commented on #23
Released: https://github.com/casbin/gorm-adapter/releases/tag/v2.0.2

[2019-09-27 02:52] #23 closed

[2019-09-28 05:04] riceChuang opened #26 "Waiting for new release"
Would it be possible to bump the version and perform a new release?
sorry for urging you , i'm really like this pkg
alse really need it

[2019-09-28 05:11] hsluoyz commented on #26
Released: https://github.com/casbin/gorm-adapter/releases/tag/v2.0.3

[2019-09-28 05:11] #26 closed

[2019-10-21 00:06] a5stxf7nnpuv772p opened #27 "gorm log mode"
i have `db.LogMode(true)` enabled in my app but gorm-adapter dosent have that option so i cant see the queries. can this be an option?

[2019-10-21 00:57] hsluoyz commented on #27
Please add a new constructor with your mode enabled and send a PR to us. Don't modify the current code.

[2019-12-08 06:01] caojs opened #28 "In SavePolicy, what happens if saving table is unsuccessful after dropping?"
It has never happened to me but I'm asking just in case.

[code]

[2020-01-01 02:22] #28 closed

[2020-01-01 02:32] hsluoyz commented on #28
We should use transactions to prevent it.

[2020-07-08 09:25] aofengli opened #35 "Why doesn't casbin_rule add an auto increment primary key?"
One should be added from a performance perspective

[2020-07-08 09:34] aofengli commented on #35
I don’t quite understand why you don’t increase the primary key field. According to the mysql innodb index design, it is recommended to provide an ID primary key

[2020-07-08 12:40] nodece commented on #35
I guess the Casbin don't need the ID primary key.

[2020-07-08 15:01] hsluoyz commented on #35
@aofengli can you make a PR to add an increment primary key?

[2020-07-18 03:07] hsluoyz commented on #35
@00LT00 can you take this issue?

[2020-07-18 03:38] 00LT00 commented on #35
I'm learning about it and solving it as soon as possible

[2020-07-22 06:54] exfly opened #37 "new gorm.io/gorm adapter or upgrade to gorm.io/gorm"
ref: https://github.com/go-gorm/gorm

[2020-07-22 06:56] #37 closed

[2020-07-24 03:07] hsluoyz commented on #37
@exfly why close it?

[2020-07-24 04:08] nodece commented on #37
@hsluoyz fixed: #36

[2020-07-24 07:29] rico-ci opened #40 "User should define database"
In the gorm-adapter, the following lines have hard-coded "magic" values which should be defined by the user in the config file rather than set here:
- https://github.com/casbin/gorm-adapter/blob/81c2dc6dfc86f0a580dbee4b36eddfd55c593807/adapter.go#L147
- https://github.com/casbin/gorm-adapter/blob/81c2dc6dfc86f0a580dbee4b36eddfd55c593807/adapter.go#L170
- https://github.com/casbin/gorm-adapter/blob

[2020-07-24 07:56] nodece commented on #40
I don't recommend the adapter to create DB, So I want to remove the code.

What do you think? @hsluoyz

[2020-07-24 12:06] hsluoyz commented on #40
Creating DB is our tradition. And it makes it easy for testing like running on CI. Keeping it would be better if it doesn't bring too much trouble.

[2020-07-24 12:06] hsluoyz commented on #40
We can refactor out the DB name as an arg.

[2020-07-24 12:15] rico-ci commented on #40
Well I don't have hard feelings about the DB creation. However, our infrastructure already provides the DB and we want to have full control of it. I'm happy to let Casbin create the tables within it, but the rest should be config IMO.

[2020-07-24 18:36] L1ghtman2k commented on #40
Have you tried NewAdapterByDB or NewAdapterByDBUsePrefix methods? You can provide your DB objects as a parameter

[2020-07-25 01:53] hsluoyz commented on #40
@rico-ci the adapter can also re-use existing DB. It's totally an open option.

[2020-07-25 08:37] rico-ci commented on #40
Hi there! Thanks for the links and the clarification. I wasn't aware of the other adapters. I still feel that those table values should not be hard-coded and left to the user to define.

I initially opened this issue as I started working on the Casbin-server (CaaS). I observed this behavior out-of-the-box while expecting that my config.json would be parsed fully and the DB accesses / created accor

[2020-07-25 15:09] hsluoyz commented on #40
@rico-ci what code do you prefer here? Please provide some code.

[2020-07-31 22:34] 00LT00 commented on #35
1. When casbin is loaded, it has already loaded from database to memory. So the database is not selected during runtime. The primary key has no effect on select operations.
2. Because the gorm-adapter just is a tool to get policy. The struct in memory must be the same as "policy.csv". In fact, the primary key cannot be used at all when deleting.

In summary, I think we shouldn't add ID primary key

[2020-07-31 23:41] 00LT00 commented on #40
Should we make the dbname and tablename to left to the user to define? @hsluoyz @nodece

[2020-08-01 00:29] hsluoyz commented on #40
@00LT00 Yes. dbname and tablename will be optional args. So if user doesn't specify them, we still use current as default values.

[2020-08-01 00:37] hsluoyz commented on #35
@aofengli can you make a PR to fix it?

[2020-08-01 04:24] nodece commented on #35
@hsluoyz We should add unique index.

[2020-08-01 04:25] hsluoyz commented on #35
Can anyone work on a PR?

[2020-08-01 05:34] 00LT00 commented on #40
I'm try to fix it.Now I have some little problems ...

[2020-08-01 06:31] rico-ci opened #41 "Environment Variables for DB creation"
Following issue [#40](https://github.com/casbin/gorm-adapter/issues/40), there should be the out-of-the-box possibility for the user to define environment variables which should be used for DB creation.

For example, in the CaaS project, I manually added a string parser to substitute keywords starting with $ in the config file with the corresponding environment variables.

I'm not sure whether tha

[2020-08-01 06:34] rico-ci commented on #40
Sorry for not being active here the past week @hsluoyz. But seems like there's progress on this issue. Cheers!

[2020-08-02 21:49] 00LT00 commented on #35
@hsluoyz @nodece add unique index

[2020-08-02 21:50] 00LT00 commented on #40
@hsluoyz @nodece @rico-ci User can define dbname and tablename

[2020-08-09 08:42] elissa2333 opened #44 "Application build failed"
version:
github.com/casbin/gorm-adapter/v3 v3.0.1

log ：
[code]

The build fails under Windows because I have not installed gcc and cannot build qlite3

Rely on explanation `go mod why github.com/mattn/go-sqlite3`

[code]

[2020-08-09 14:59] hsluoyz commented on #44
It seems that this PR: https://github.com/casbin/gorm-adapter/commit/57a0c400a4d943796ea6787124fe5540517545bc has caused this issue. @L1ghtman2k can you fix it?

[2020-08-09 16:19] L1ghtman2k commented on #44
@elissa2333 Have you started getting the above error only recently? In my setup I always had gcc on windows, so I have never encountered that issue.

According to https://github.com/mattn/go-sqlite3#installation, the package requires gcc to be installed, since `go-sqlite3 is cgo package`

You can find the solution for windows here:
According to https://github.com/mattn/go-sqlite3/issues/467

@hslu

[2020-08-09 16:23] hsluoyz commented on #44
@L1ghtman2k can we remove the dependency on: https://github.com/mattn/go-sqlite3 ? I know this adapter supports sqlite, but let's not add it to the code directly. Or comment it, people who need it can uncomment to enable the feature.

This is classified as a bug because Casbin is supposed to work on Windows, Linux, macOS without special setup like gcc or cgo. Looking forward to the PR!

[2020-08-09 16:31] L1ghtman2k commented on #44
Oh, got it. My impression was that @elissa2333 was trying to utilize sqlite library, let me get the PR

[2020-08-09 16:55] elissa2333 commented on #44
Thank you for your answer. I encountered an error while upgrading v3. My program only supports MySQL postgres

[2020-08-09 16:56] elissa2333 commented on #44
Thank you for your answer. Encountered an error while upgrading v3. My program only supports MySQL Postgres

[2020-08-10 01:56] hsluoyz commented on #44
@elissa2333 fixed by commit: https://github.com/casbin/gorm-adapter/commit/007a8c0e7ae1746f1abd21f01bc7c18e36c205b7

Released v3.0.2: https://github.com/casbin/gorm-adapter/releases/tag/v3.0.2

[2020-08-10 01:56] #44 closed

[2020-08-10 14:19] rico-ci commented on #41
Closed in favour of [this issue in CaaS](https://github.com/casbin/casbin-server/issues/39).

[2020-08-10 14:19] #41 closed

[2020-09-01 02:21] llh4github opened #47 "gorm-adapter/v3与casbin/v2不兼容吗？"
测试代码如下：
[code]
运行时，报`e, err := casbin.NewEnforcer("./rbac_model.toml", a)`这行错误：

debug发现：
`ennforcer.go`文件85行`err := e.InitWithAdapter(p0, p1.(persist.Adapter))`，

---
学这个时候，gorm升级了v2，casbin也有v2了，人都整傻了

[2020-09-01 12:20] hsluoyz commented on #47
@llh4github please use English.

[2020-09-01 13:01] llh4github commented on #47
@hsluoyz Sorry,I describe the problem again in English.
When running the following code, I found a null pointer error. The error occurred in this line, `e, err := casbin.NewEnforcer("./rbac_model.toml", a)`.

[code]

I found that the problem is a type conversion error in the source code of `gorm-adapter`.
Line 85 of the `ennforcer.go`  file: `err := e.InitWithAdapter(p0, p1.(persist.Adapter))`.
Th

[2020-09-01 15:07] hsluoyz commented on #47
@llh4github please modify all your existing code, text and comment into English.

[2020-09-02 01:43] llh4github commented on #47
[code]

@hsluoyz Now, No Chinese characters.

[2020-09-02 01:56] llh4github commented on #47
https://github.com/casbin/gorm-adapter/issues/47#issuecomment-685231551

When running the following code, I found a null pointer error. The error occurred in this line, `e, err := casbin.NewEnforcer("./rbac_model.toml", a)`.
[code]
I found that the problem is a type conversion error in the source code of `gorm-adapter`.
Line 85 of the `ennforcer.go` file: `err := e.InitWithAdapter(p0, p1.(persist.

[2020-09-04 04:49] #40 closed

[2020-09-04 11:08] hsluoyz commented on #40
Fixed in: https://github.com/casbin/gorm-adapter/pull/43

[2020-09-04 11:53] hsluoyz commented on #47
@nodece @00LT00

[2020-09-04 11:54] hsluoyz commented on #47
@llh4github please send issues to: https://github.com/casbin/gorm-adapter

[2020-09-04 13:35] 00LT00 commented on #47
what's this `e, err := casbin.NewEnforcer("./rbac_model.toml", a)` ?
casbin's model file is "xxx.conf".
@llh4github

[2020-09-04 16:01] nodece commented on #47
I tested your code, it works fine.

one thing to note is here.

[code]

[2020-09-04 16:01] #47 closed

[2020-09-10 10:33] 16pj opened #48 "Hardcoded "postgres" string DB in function openDBConnection() causes table being created in the DB named "postgres""
Sorry I'm new to creating issues here.

file: adapter.go
version tag: 3.02

If the a.dbSpecified is set to true then isn't it expected to use the db name specified in the datasource string, but looks like the hardcoded value "postgres" in openDBConnection() [adapter.go] makes it override the db and uses "postgres" instead.

[2020-09-10 11:02] hsluoyz commented on #48
@16pj can you make a PR to fix it?

@nodece @GopherJ @00LT00

[2020-09-10 11:35] 00LT00 commented on #48
Sorry, I forgot. You can add "dbname=xxx" to dsn in order to use normally before I fix this bug. @16pj

[2020-09-10 12:48] 16pj commented on #48
I use dbname but it gets overridden by "dbname=postgres".

[2020-09-10 12:54] 00LT00 commented on #48
Can you tell me where has "dbname=postgres" ?

[2020-09-10 13:03] nodece commented on #48
@16pj could you provide your code?

[2020-09-10 14:57] #48 closed

[2020-09-14 03:55] gleke opened #49 "open postgresql failed"
[code]

change it to:

[code]

[2020-09-14 05:41] hsluoyz commented on #49
@gleke please change your text into English.

[2020-09-14 06:41] hsluoyz commented on #49
@gleke please set `dbSpecified` to `true`, so you code will go into the other branch:

[code]

[2020-09-14 06:42] #49 closed

[2020-09-23 09:19] 00LT00 opened #52 "fix: update code-style"
This issue originates from the comments of PR: https://github.com/casbin/gorm-adapter/pull/51#issuecomment-696127981

[2020-09-23 10:28] hsluoyz commented on #52
Good.

[2020-09-23 15:03] #52 closed

[2020-09-27 05:14] hsluoyz commented on #35
PR made: https://github.com/casbin/gorm-adapter/pull/54

[2020-10-11 16:01] #35 closed

[2020-10-14 10:08] kevinniu666 opened #55 "NewAdapterByDB failed due to different gorm type"
tried to use exsit gorm instance which is "github.com/jinzhu/gorm", failed due to below error:

Cannot use 'component.DB' (type *"github.com/jinzhu/gorm".DB) as type *"gorm.io/gorm".DB

//code sample

adapter, err := gormadapter.NewAdapterByDB(component.DB)

[2020-10-14 11:15] hsluoyz commented on #55
`github.com/jinzhu/gorm` path is deprecated. Please update it to use `gorm.io/gorm` instead.

[2020-10-14 11:15] #55 closed

[2020-11-07 09:28] Gaadek opened #56 "How to set custom column size?"
Hello,

First of all, thank you for this project, it's very useful.

I'm using casbin with a RESTful model, i.e. the list of permissions for a given roles are strored in 1 record in the dabatase (vs 1 record per permissions/role as usualy) :

Instead of this :
`p, data2_admin, data2, read
p, data2_admin, data2, write`

I'm using this :
`p, data2_admin, data2, (read)|(write)`

The problem is that m

[2020-11-07 10:55] hsluoyz commented on #56
Can you make a PR to fix it? @nodece

[2020-11-07 11:00] hsluoyz commented on #56
@Gaadek what do you want?

[2020-11-07 20:07] Gaadek commented on #56
@hsluoyz I'd like to be able to set the size of the fields as per my needs.

In my specific case, it's the length of v3 that is too small.

[2020-11-08 01:20] hsluoyz commented on #56
As I see it, it's not possible to specify a dynamic size for it. Tell me if I'm wrong.

If this is the case, what length do you think is enough?

[2020-11-08 11:00] nodece commented on #56
We can use the `reflect` to set the size of the fields, it will cause `reflect` everywhere.

[2020-11-08 12:44] hsluoyz commented on #56
reflect everywhere is not good. I prefer a bigger static size. @Gaadek give a static number?

[2020-11-08 12:47] nodece commented on #56
@hsluoyz can struct tag support the use of variables?

[2020-11-08 14:06] hsluoyz commented on #56
@nodece I think this is impossible: https://stackoverflow.com/questions/29752462/go-struct-using-a-variable-in-the-struct-tag

[2020-11-08 17:56] Gaadek commented on #56
Thank for your searches and the discussion.

After thinking about it, I believe the most appropriate approach would be to use gorm to update the columns.
We should be able to call NewAdapter of gorm-adapter, then gorm to update the length of any columns of the casbin rule table.

[2020-11-08 17:56] #56 closed

[2020-11-11 17:31] smartisantt opened #57 "mysql 创建的数据库的表名是casbin_rules"
使用github.com/casbin/gorm-adapter/v3 v3.0.3   的时候 ，

`
	if !db.Migrator().HasTable("casbin_rule") {
		err = db.Migrator().CreateTable(&gormadapter.CasbinRule{})
	}
`
mysql 创建的数据库的表名是casbin_rules  ，应该是 casbin_rule 才能正常使用

[2020-11-12 01:57] hsluoyz commented on #57
@nodece

[2020-11-12 01:57] hsluoyz commented on #57
@smartisantt can you please change your title and text into English? Thanks!

[2020-11-12 02:22] smartisantt commented on #57
OK, It's my wrong. There is no question.😊

[2020-11-12 02:22] #57 closed

[2020-11-16 12:33] Gaadek commented on #56
in the case of, here is how I manage that:

#01 : Declare a model for the CasbinRules  (gorm adapter uses CasbinModel, so use the same model name) :
[code]

#02 : Define a logic to build/rebuild the CasbinRule table. I use here a boolean stored in my config  :
[code]

#03 : Build the CasbinRule table based on our custom local model :
[code]

#04 : Finally, call the NewAdapterFromDB :
[code]

Note:

[2020-11-20 04:05] twhit-mrwebapps opened #58 "unknown field 'WithConditions' in struct literal of type gorm.Session"
Hi,

I'm attempting to import your adaptor into my project, however I am getting the following message:

/home/tim/go/pkg/mod/github.com/casbin/gorm-adapter/v3@v3.0.3/adapter.go:247:25: unknown field 'WithConditions' in struct literal of type gorm.Session

Do you know what the issue might be?

**Edit**: You may notice I closed, then reopened, I immediately thought that it was related to the wrong

[2020-11-20 04:28] twhit-mrwebapps commented on #58
* Fixed, I was using the wrong gorm package.

[2020-11-20 09:01] nodece commented on #58
I'm not sure that your gorm version. The adapter are using `gorm.io/gorm v1.20.1`.

[2020-11-20 09:13] twhit-mrwebapps commented on #58
Latest I believe which is https://github.com/go-gorm/gorm v1.20.7

[2020-11-20 09:29] nodece commented on #58
@twhit-mrwebapps I guess they're constantly upgrading. could you use `gorm@1.20.1` in your project?

[2020-11-20 09:45] twhit-mrwebapps commented on #58
Already have, thanks for that. I'll keep an eye on your pull request.

[2020-11-22 02:10] hsluoyz commented on #58
Gorm v1.20.7 removed `WithConditions`, see: https://github.com/go-gorm/gorm/issues/3768

[2020-11-22 02:11] hsluoyz commented on #58
@twhit-mrwebapps is there any reason that we should update gorm to v1.20.7 ?

[2020-11-22 03:15] twhit-mrwebapps commented on #58
No reason to upgrade to my knowledge. I was starting a new project with the latest version and this is what I came across. Thought it might be worthy to investigate. Not sure if Gorm was intending to remove it or perhaps by accident. Not urgent as I'm using a previous version. Having said that, if Gorm is seeking to change struct variables, I suppose you need to update at the end of the day so yea

[2020-11-23 05:34] cqasen commented on #58
请问一下，这个更新，什么时候能出新的tag呢

[2020-11-23 05:35] hsluoyz commented on #58
Fixed by: https://github.com/casbin/gorm-adapter/pull/59

[2020-11-23 05:35] hsluoyz commented on #58
@nodece @00LT00

[2020-11-23 05:36] nodece commented on #58
@cqasen @twhit-mrwebapps v3.0.4 has been released.

[2020-11-23 05:36] #58 closed

[2021-01-09 15:05] techoner opened #61 "Avoid the automatic use of LoadPolicy() loading the policy"
In order to avoid the automatic use of LoadPolicy loading strategy, I think the setting of `isFiltered` should be added in Adapter.
[code]

[2021-01-12 11:08] #61 closed

[2021-01-18 10:33] Despire opened #63 "Column size"
Hi, I'm migrating to new gormadapter, And it seems that the column size was lowered to [40](https://github.com/casbin/gorm-adapter/blob/master/adapter.go#L38) from the original [100](https://github.com/casbin/gorm-adapter/blob/9cc32f0fb415e9bb5bf152a2f8e06aa6f2d65ad2/adapter.go#L34). I was wondering if it would be possible to bump up the size back to  100?

 (As I have problems now when I'm migrat

[2021-01-18 11:44] hsluoyz commented on #63
@Despire can you make a PR to fix it?

[2021-01-18 11:47] Despire commented on #63
@hsluoyz sure

[2021-01-18 11:56] #63 closed

[2021-01-18 11:57] hsluoyz commented on #63
@Despire released v3.0.5: https://github.com/casbin/gorm-adapter/releases/tag/v3.0.5

[2021-01-18 12:04] StianOvrevage commented on #56
Custom column length might not be necessary. But the default of 40 seems low.

I for example cannot use `company:e39c919e-ce66-4c5f-3631-14d635a3a33d` as an identifier. That long part is a standard UUID that many uses for many different things.

[2021-01-18 12:07] hsluoyz commented on #56
@StianOvrevage we just increased the custom column size back to 100, see: https://github.com/casbin/gorm-adapter/issues/63

[2021-01-18 12:10] StianOvrevage commented on #56
What a stroke of luck! Thanks so much :)

[2021-01-22 03:18] hsluoyz opened #65 "Implement UpdatePolicy() API (aka UpdatableAdapter interface)"
See the video at: https://www.bilibili.com/video/BV13r4y1M7AC , 16:10

`UpdatePolicy()` is introduced by this PR: https://github.com/casbin/casbin/pull/592

[2021-01-26 03:37] #65 closed

[2021-01-26 03:38] hsluoyz commented on #65
Released v3.0.6: https://github.com/casbin/gorm-adapter/releases/tag/v3.0.6

[2021-01-29 13:32] hsluoyz opened #67 "Modify DB column name from "p_type" to "ptype""
Refer to: https://github.com/pycasbin/sqlalchemy-adapter/issues/26

[2021-01-29 13:33] hsluoyz commented on #67
@closetool

[2021-01-29 14:51] #67 closed

[2021-01-29 14:53] hsluoyz commented on #67
v3.1.0 released: https://github.com/casbin/gorm-adapter/releases/tag/v3.1.0

[2021-02-01 02:23] typhoonbb opened #71 "gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdatePolicy"
*gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdatePolicy
how to fix this ?  thank you

here is go.mod:
github.com/casbin/casbin/v2 v2.20.2
github.com/casbin/gorm-adapter/v3 v3.0.5
gorm.io/gorm v1.20.7

[2021-02-01 03:44] hsluoyz commented on #71
@typhoonbb we fixed it in v3.0.6 (https://github.com/casbin/gorm-adapter/issues/65)

Plz update it to latest v3.1.0

[2021-02-01 03:44] #71 closed

[2021-02-01 11:19] Despire opened #72 "custom column size support"
Hi, I was wondering if there are any plans to support custom column sizes? I've reached a use-case where the 100 column size limit is not sufficient.

I noticed there was an Issue opened about this #56, however, the solution wouldn't work for me, as I'm using cockroach and get this error
[code]

One solution (somewhat hacky though) that could work is, that we could pass a custom `CasbinRule` table

[2021-02-01 11:46] hsluoyz commented on #72
@Despire what's your desired column size?

[2021-02-01 11:48] Despire commented on #72
@hsluoyz as of now I would need 512

[2021-02-01 11:51] hsluoyz commented on #72
@Despire I'm OK with your idea. But we should follow:

1. Be compatible with the original usage, so other people won't be affected.
2. We can add additional constructor to support a custom table.
3. Add the new API to README, to allow others to use it.

If this is OK, plz make a PR, thanks!

[2021-02-01 11:54] Despire commented on #72
@hsluoyz Ok I'll work on it.

[2021-02-02 11:08] #72 closed

[2021-02-02 11:09] hsluoyz commented on #72
@Despire thanks for the PR! Released: https://github.com/casbin/gorm-adapter/releases/tag/v3.2.0

[2021-02-03 04:48] arafat-java opened #74 "[Question] Customizing casbin_rule table name"
**What's your scenario? What do you want to achieve?**
We are working on a cloud based offering and planning to use casbin.
In that we would like to segregate tenant's data and for that we would like to create separate casbin_rules tables for each tenant.
I know that we have the provision for seperate databases and that we can pass in the connection string
But we don't want to have that many datab

[2021-02-03 11:07] hsluoyz commented on #74
@arafat-java see:

https://github.com/casbin/gorm-adapter/blob/d4ad5d9aa5106ca2d6d979b195ea08d1c06c8fdd/adapter.go#L158-L177

[2021-02-03 11:07] #74 closed

[2021-02-06 06:49] bloong opened #75 "sqlite3 can run well in windows，but not in linux"
I use V3.02
for sqlite I edit adapter
detail

[code]

Error:

[code]

[2021-02-06 06:49] hsluoyz commented on #75
@bloong plz use English.

[2021-02-06 06:58] RobotHuang commented on #75
@bloong I thought that you also need to provide errors.

[2021-02-07 12:00] #75 closed

[2021-02-22 13:20] d1ss0nanz opened #78 "Behaviour of NewAdapterByDB() has a breaking change"
Hi,

Just a heads up for other users:
I've updated from gorm-adapter 3.0.3 to 3.2.0 today and found that NewAdapterByDB() is now using "casbin_rule" as table name vs. "casbin_rules" in 3.0.3.

Therefore the user group memberships where missing in the new "casbin_rule" table.

The reason is probably (didn't verify) the use of the Gorm Migrator in 3.0.3:
`return a.db.Migrator().CreateTable(a.getTabl

[2021-02-22 13:27] hsluoyz commented on #78
@d1ss0nanz I think `casbin_rule` has always been the rule name? Even before v3.0.3, we have:

![image](https://user-images.githubusercontent.com/3787410/108714675-ceabcb80-7554-11eb-81da-c47f1ee2e0c1.png)

[2021-02-22 13:34] d1ss0nanz commented on #78
Yes, but that's not the cause. I've checked my old logs and my database initialisation scripts.
It was "casbin_rules" in 3.0.3.

Please see my note about the use of the Migrator.

[2021-02-22 13:36] hsluoyz commented on #78
return a.db.Migrator().CreateTable(a.getTableInstance())
In Gorm "CasbinRule" will result in a table name "casbin_rules".

@closetool is it possible to fix this bug?

[2021-02-23 01:36] closetool commented on #78
In v3.0.3 NewAdapterByDB will create table named `casbin_rules`, because of this
![image](https://user-images.githubusercontent.com/52988625/108791438-0ac54780-75ba-11eb-9e2b-5bcff8d61847.png)
And NewAdapter will create table named `casbin_rules`

In v3.2.0 they both create table named `casbin_rule`,
I think it works fine now, nothing needed to change.

[2021-02-23 01:37] closetool commented on #78
@d1ss0nanz What can I do for you?

[2021-02-23 03:58] hsluoyz commented on #78
@closetool if someone is running our migration code (the following line):

[code]

Will they end up with the wrong table name: `casbin_rules` ?

[2021-02-23 06:11] closetool commented on #78
@hsluoyz In v3.2.0, there will be no casbin_rules default, in spite of that, I change the `CasbinRule`'s name mapping

[2021-02-23 08:38] d1ss0nanz commented on #78
Ok, so up to at least 3.0.3, in some code paths, the created table is named "casbin_rules".
NewAdapterByDB() is behaving this way in 3.0.3.

Now, when updating to a more recent version, gorm-adapter is creating a new table "casbin_rule" besides the fact that there already exists a table "casbin_rules".

All authorization attempts silently fail, since the group membership data is in the old table.

[2021-03-10 12:05] shaolei opened #80 "The default automatically created table is “casbin_rules“, but the default selected table is “casbin_rule“"
![image](https://user-images.githubusercontent.com/3926839/110626454-b33ef280-81db-11eb-9ff6-07bae8e40fc4.png)

[2021-03-10 12:10] hsluoyz commented on #80
Hi @shaolei can you modify your text into English?

[2021-03-10 12:10] hsluoyz commented on #80
@closetool

[2021-03-10 13:53] closetool commented on #80
@shaolei Hi, could you provide some more specific infos, cause I test locally and it works well
![image](https://user-images.githubusercontent.com/52988625/110639661-ef2d8400-81ea-11eb-8099-9a5a28b24c53.png)

[2021-03-10 14:20] 00LT00 commented on #78
@hsluoyz @closetool Hello, I think it was a new bug with new version gorm.
We use the scopes function to realize the dynamic table name. like this
[code]
It was successful work at least version 1.20.8.
But now, even if we use this version too, new users also will use new version gorm, which make us have to use new version to run. I'm already asking the author this bug at [here](https://github.com/

[2021-03-10 14:27] 00LT00 commented on #80
@shaolei hello. I suggest you could change the version of gorm on go.mod. It runs correctly

[2021-03-10 14:39] closetool commented on #78
@00LT00 @hsluoyz I noticed we have run up some commits from last releasing new version
In #79, I added `default table name` function, and I believe it will work even if scope failed.

[2021-03-10 14:45] 00LT00 commented on #78
@closetool  But I get the same error, why?
If I update the version of gorm on `go.mod`, it was work. I think it was a bug of gorm rather than ours

[2021-03-10 14:53] 00LT00 commented on #78
It just fix your error, but the bug is there.

[2021-03-10 14:56] 00LT00 commented on #78
hi @closetool I know why....
The latest version 3.2.0 did not import your changes. So we should release a new version for #79 ... @hsluoyz

[2021-03-10 15:01] closetool commented on #78
@00LT00 yep

[2021-03-10 15:11] 00LT00 commented on #78
But it just fix the defalt table names. If user use dynamic table name, and the table is not exist. Then the table will not be create.
![image](https://user-images.githubusercontent.com/47566260/110650625-adeea180-81f5-11eb-92c9-303e3bfada8c.png)
So I still suggest we should remind user that not update version of gorm at least `1.20.12` .

[2021-03-12 10:26] saeedgeek opened #81 "*gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdatePolicies"
panic: interface conversion: *gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdatePolicies
in version v2.25.2
its work for me in v2.21.0
thanks

[2021-03-14 11:15] pylist opened #82 "Error 1146: Table 'shapeapi.casbin_rule' doesn't exist"
[code]

[2021-03-14 12:22] hsluoyz opened #83 "For the sake of god, please fix the "casbin_rule" table name bug"
We already see tons of complaints from the users for such a boring problem, see:

- https://github.com/casbin/gorm-adapter/issues/82
- https://github.com/casbin/gorm-adapter/issues/80
- https://github.com/casbin/gorm-adapter/issues/78

I'm so tired of it. Such bugs are harming our software quality.

What I want to achieve is:

1. Not a single bug report about the "casbin_rule" or "casbin_rules" ta

[2021-03-14 12:22] hsluoyz commented on #83
@RobotHuang @Kininaru

[2021-03-14 13:09] hsluoyz commented on #82
Fixed in: https://github.com/casbin/gorm-adapter/releases/tag/v3.2.2

[2021-03-14 13:09] #82 closed

[2021-03-14 13:10] #83 closed

[2021-03-14 13:10] hsluoyz commented on #80
@shaolei bug fixed in: https://github.com/casbin/gorm-adapter/releases/tag/v3.2.2

[2021-03-14 13:10] #80 closed

[2021-03-14 13:11] hsluoyz commented on #78
@00LT00 thanks! I saw Jinzhu has fixed that bug. So updating to Gorm master HEAD will fix the issue.

Bug fixed in: https://github.com/casbin/gorm-adapter/releases/tag/v3.2.2

[2021-03-14 13:11] #78 closed

[2021-03-15 15:45] OldSmokeGun opened #84 "Error 1071: Specified key was too long; max key length is 1000 bytes"
[7.557ms] [rows:0] CREATE UNIQUE INDEX idx_casbin_rule ON casbin_rule (ptype,v0,v1,v2,v3,v4,v5)
panic: Error 1071: Specified key was too long; max key length is 1000 bytes

[2021-03-15 15:59] hsluoyz commented on #84
@closetool

[2021-03-16 02:46] aryan828 opened #85 "Refactoring Suggestion"
https://github.com/casbin/gorm-adapter/blob/5c851cf40b855d8d3cd3be580b334ff2ad71dd5d/adapter.go#L110
There is an empty **if** block.
Maybe removing the empty block and changing the last **else** condition to `else if len(params) > 3` at line 148 would be better.

[2021-03-16 04:37] hsluoyz commented on #85
@closetool

[2021-03-16 04:39] closetool commented on #84
@OldSmokeGun Hi, it's not the adapter's fault, it caused by mysql, perhaps you used MyISAM engine instead of innodb, plz refer to https://stackoverflow.com/questions/8746207/1071-specified-key-was-too-long-max-key-length-is-1000-bytes

[2021-03-16 06:00] #85 closed

[2021-03-16 06:01] hsluoyz opened #87 "Setup semantic-bot and semantic-release for this repo"

[2021-03-16 06:01] hsluoyz commented on #87
@closetool

[2021-03-16 14:11] #87 closed

[2021-03-16 14:19] hsluoyz commented on #84
@closetool just see your link: https://stackoverflow.com/questions/8746207/1071-specified-key-was-too-long-max-key-length-is-1000-bytes

![image](https://user-images.githubusercontent.com/3787410/111324299-9d32a580-86a5-11eb-9c92-8d119e8c7809.png)

Can we just index the prefix of the columns, so make them sum up to < 1000? So even if the user has a very long subject or object to store, he will not

[2021-03-16 15:23] OldSmokeGun commented on #84
@closetool  Sir, thank you for your reply, this problem has been solved, I like casbin

[2021-03-16 15:23] #84 closed

[2021-03-17 04:57] thnt opened #90 "NewAdapterByDBUseTableName does not create table with custom name"
`NewAdapterByDBUseTableName(db, "", "casbin_rules")` will create table with default name `casbin_rule` but tries to create index for table `casbin_rules` and return an error:

`ERROR: relation "casbin_rules" does not exist (SQLSTATE 42P01)`

[2021-03-17 05:10] hsluoyz commented on #90
@closetool

[2021-03-17 05:29] closetool commented on #90
@thnt Which version are you using? Plz use v3.2.3 and ensure you not import gorm with version over 1.20.x

[2021-03-17 07:04] thnt commented on #90
[code]

The similar bug: `NewAdapterByDBWithCustomTable(db, &MyRule{})` will create table `my_rules` but it will try to create index for default table name `casbin_rule`

[2021-03-17 07:26] closetool commented on #90
@thnt fixed, plz review
And do not use gorm v1.21.x if possible

[2021-03-23 05:55] zsnivy commented on #90
This commit has solved the problem of not creating the index to the custom table, but the problem of not creating the specified table by `NewAdapterByDBUseTableName` function still exists.
example:
1. i specified the table name. `NewAdapterByDBUseTableName(db, "f", "ac_policy")`
2. but in the `createTable` function:
[code]

[2021-03-23 06:55] hsluoyz commented on #90
@closetool

[2021-03-23 09:57] closetool commented on #90
@zsnivy I tried with `gorm 1.21.4`  & `gorm 1.20.7`, and adapter works fine with `gorm 1.20.7`, plz do not use `gorm 1.21.x`

[2021-03-23 11:38] #90 closed

[2021-03-23 12:11] zsnivy commented on #90
Thanks for your answers, the problem has been solved.

[2021-03-25 18:00] aryan828 commented on #81
@saeedgeek Can you both the working and non-working versions of your code so that I can track the error.
Also @hsluoyz , have you implemented the UpdatePolicy() and UpdatePolicies() API, because it is mentioned in [docs](https://casbin.org/docs/en/management-api#updatepolicy) but what I found was
`func (a *Adapter) UpdatePolicy(sec string, ptype string, oldRule, newPolicy []string) error {
	return

[2021-03-26 05:39] hsluoyz commented on #81
@aryan828 yeah, so we need to implement `UpdatePolicies()`.

[2021-03-27 03:23] #81 closed

[2021-04-06 14:33] hsluoyz opened #93 "Comment sqlite imports by default, given it requires cgo"
We added sqlite support in: https://github.com/casbin/gorm-adapter/pull/76 , but the cost is that this repo requires cgo from now on.

Now we have a user complaining that they use gorm-adapter and they have to turn cgo on too: https://github.com/flipped-aurora/gin-vue-admin/issues/407#issuecomment-814158369 . We don't want to cause trouble for our users. So we need to turn off cgo by default.

We

[2021-04-06 14:35] hsluoyz commented on #93
@closetool

[2021-04-06 14:58] #93 closed

[2021-04-22 11:10] kuchaguangjie opened #95 "postgres - won't detect whether database exists"
**Repeated database creation:**
---

It will still trying create the database, even I have specified `dbname=casbin` in gorm dsn:

Better create only if not exists yet, I guess.

BTW, the 2nd issue about timezone is moved to: https://github.com/casbin/gorm-adapter/issues/96

[2021-04-22 11:31] hsluoyz commented on #95
@kuchaguangjie hi, thanks for your bug report! Can you put the 2nd bug to another issue?

[2021-04-22 11:32] hsluoyz commented on #95
@closetool

[2021-04-22 12:49] closetool commented on #95
@kuchaguangjie For the first issue, plz see below
![image](https://user-images.githubusercontent.com/52988625/115716902-44dd7a80-a3ac-11eb-9e71-75ba0a497afe.png)

[2021-04-22 12:51] closetool commented on #95
@kuchaguangjie For the first issue, plz see below
![image](https://user-images.githubusercontent.com/52988625/115717164-7d7d5400-a3ac-11eb-903e-9817b526390c.png)

[2021-04-22 13:00] closetool commented on #95
@kuchaguangjie For the second issue, plz just use lower case...
![image](https://user-images.githubusercontent.com/52988625/115718453-b36f0800-a3ad-11eb-9f87-7407cff9864c.png)

[2021-04-22 13:14] hsluoyz commented on #95
@closetool see: https://gorm.io/docs/connecting_to_the_database.html#PostgreSQL

![image](https://user-images.githubusercontent.com/3787410/115720560-c2ef5080-a3af-11eb-9e68-79791fc4cf08.png)

[2021-04-22 13:36] closetool commented on #95
@hsluoyz In official docs, `TimeZone` was used https://www.postgresql.org/docs/9.2/datatype-datetime.html#DATATYPE-TIMEZONES.
But I tested `timezone` and it works.
Could you please try it @kuchaguangjie ?

[2021-04-22 15:33] kuchaguangjie opened #96 "postgres - can't set timezone"
-------

**Can't set timezone:**
---

If I specify `TimeZone=Asia/Shanghai` in gorm dsn, then will get error:

But according to [gorm postgres doc](https://gorm.io/docs/connecting_to_the_database.html#PostgreSQL), it's valid dsn syntax.

BTW, since this issue is migrated from another, it already got some useful comment:
https://github.com/casbin/gorm-adapter/issues/95#issuecomment-824819864

[2021-04-22 15:34] kuchaguangjie commented on #95
@hsluoyz Moved the 2nd issue to: https://github.com/casbin/gorm-adapter/issues/96

[2021-04-22 15:39] hsluoyz commented on #96
See: https://github.com/casbin/gorm-adapter/issues/95#issuecomment-824848401

[2021-04-22 15:48] kuchaguangjie commented on #96
@hsluoyz Thanks, for the db creation issue, after add 3rd param as `true` in `NewAdapter()`, and specify dbname in gorm dsn, now it won't create db.

Code:

[code]

[2021-04-22 15:50] kuchaguangjie commented on #95
@hsluoyz Thanks, for the db creation issue, after add 3rd param as `true` in `NewAdapter()`, and specify dbname in gorm dsn, now it won't create db.

Code:

[code]

[2021-04-22 15:55] #95 closed

[2021-04-22 16:08] kuchaguangjie commented on #96
@hsluoyz I just tested on another laptop that both `TimeZone` and `timezone` works, seems case doesn't matter.

In my 2nd laptop I initially get error:

Then I run:

And get:

Then when I run the program, the issue in question didn't occur, no matter whether or how I specify timezone.
Maybe it's due to driver issue ? On my first laptop, the implicit `gorm.io/driver/postgres` is too old ? (Which wa

[2021-04-22 16:17] kuchaguangjie commented on #96
I tested the older `gorm.io/driver/postgres` version via:

The issue didn't occur either ... Now sure how the issue occur on first laptop now, I can't test it now.
Maybe due to postgres server version? The 2nd laptop use pg **12.5**, the 1st uses pg **13**, not sure is that an issue.

[2021-04-22 16:20] hsluoyz commented on #96
@kuchaguangjie this repo uses: https://github.com/go-gorm/postgres , you can also send an issue to them for more guidance.

[2021-04-23 02:30] kuchaguangjie commented on #96
@hsluoyz I did more test on 1st machine, which use pg `13.0`.

The error occur when use combination of `gorm.io/driver/postgres@v1.0.1` and `TimeZone` and `pg 13.0`.

The issue can be fixed by any of following change:

- Use lowercase `timezone` instead of `TimeZone`.
- Upgrade to `gorm.io/driver/postgres@v1.0.8`.
- Downgrade pg to `12.5`.

So, it probably is due to pg driver & pg server version i

[2021-04-23 03:32] hsluoyz commented on #96
@closetool plz update it:

https://github.com/casbin/gorm-adapter/blob/fa4239f79114122142bce7dfe60c09f8eef5c741/go.mod#L12

[2021-04-23 03:57] arafat-java opened #98 "[BUG] Error while creating enforcer if "gorm.io/gorm v1.21.3" present in go.mod"
If the dependencies contain "gorm.io/gorm v1.21.3" then the following program gives error as follows

[code]

**Error is as follows**
[code]

The moment "gorm.io/gorm v1.21.3" is removed from go.mod it starts working fine.
We need "gorm.io/gorm v1.21.3" for other modules in the system, so removing that is not an option for us

[2021-04-23 04:40] #96 closed

[2021-04-23 05:26] hsluoyz commented on #98
@arafat-java can you try latest: https://github.com/casbin/gorm-adapter/releases/tag/v3.2.7 ?

[2021-04-23 05:26] hsluoyz commented on #98
@closetool

[2021-04-23 05:36] arafat-java commented on #98
Getting the error with 3.2.7 as well

[2021-04-23 05:38] closetool commented on #98
@hsluoyz @arafat-java That's not gorm-adapter's bug, gorm 1.21.x got many bugs, so we kept gorm-adapter's dependency at 1.20.x. Or you could try lastest version of gorm.

[2021-04-23 06:19] hsluoyz commented on #98
Closed here. Please send bug report to: https://github.com/go-gorm/gorm

[2021-04-23 06:19] #98 closed

[2021-04-23 08:27] arafat-java commented on #98
Thanks @hsluoyz Works fine with 1.20.x and as well with the latest 1.21.8

[2021-04-26 12:19] arafat-java opened #104 "[Question] Logging all SQL Queries"
We are using casbin-gorm-adapter for our policies storage to DB
I would like to log all the queries that are fired to the DB.
How can I do that?

Previously when using the pg-adapter I was suggested to use the `go-pg` query hook for this purpose at https://github.com/casbin/casbin-pg-adapter/issues/20#issuecomment-779723037

I am looking for something similar in gorm-adapter

Note : We are using A

[2021-04-26 12:37] hsluoyz commented on #104
@closetool

[2021-04-26 13:26] closetool commented on #104
@arafat-java https://gorm.io/docs/logger.html + https://github.com/casbin/gorm-adapter/blob/master/adapter.go#L164
Does this meet your requirement?

[2021-04-27 01:02] arafat-java commented on #104
@closetool, I'll need to change the way I create the adapter. Will try this.
Any other alternatives ?

[2021-04-29 16:06] #104 closed

[2021-05-01 08:01] sujit-baniya opened #108 "[QUESTION] - How Would I make queries for different scenarios"
I've been using this adapter on Postgres. Curently I'm stuck on getting some information from Casbin. Please help me understand how could I query to get those information.

I'm trying to look for
1) If the domain is `*`, get all users associated to all domains with their respective roles
2) get all users associated to a domain with their respective roles

So I have basically added three roles: adm

[2021-05-01 08:21] hsluoyz commented on #108
@sujit-baniya plz use: https://casbin.org/docs/en/rbac-with-domains

[2021-05-01 15:30] sujit-baniya commented on #108
@hsluoyz Thanks for your response. I added the extra matcher parameter but still I don't see any effect. Need to check more.

[code]

[2021-05-02 13:41] hsluoyz commented on #108
@sujit-baniya see: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2021-05-03 03:14] sujit-baniya commented on #108
@hsluoyz Thanks again :). I tried and now I could get all Domains associated with the Admin account. Still casbin is not providing any API for getting all users for a Domain. Creating one issue on Casbin

[2021-05-03 03:30] sujit-baniya commented on #108
@hsluoyz Here, https://github.com/casbin/casbin/issues/782

[2021-05-03 03:40] sujit-baniya commented on #108
Also can you please suggest which storage would be best for high performance: CSV vs POstgres

[2021-05-03 06:20] hsluoyz commented on #108
@sujit-baniya DB adapter is better for production use.

Closed here.

[2021-05-03 06:20] #108 closed

[2021-06-08 08:20] zeroonestring opened #109 "CasbinRule structure with ID, can it be without ID?"
CasbinRule structure with ID, can it be without ID?
With ID, the ID reaches the upper limit, which is not good.
How to handle it generally?

[2021-06-08 09:11] hsluoyz commented on #109
@closetool

[2021-06-09 01:32] normangoh opened #110 "[Feature] Changing targeted tablename after newAdaptorByDb()"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
I am trying to build a SAAS and I would need to check permission from different schema depending on the request. Currently, I think

[2021-06-09 02:12] closetool commented on #109
@zeroonestring Hi, thanks for your proposal. But I wonder what is the upper limit, could you explain it?

[2021-06-09 05:18] zeroonestring commented on #109
I use Postgresql.
Postgresql bigserial type, the maximum is 9223372036854775807,This is certainly not the optimal solution, after all, it is still time to run out.
Postgresql does not have this restriction if there is no self-incrementing ID.

[2021-06-09 05:53] closetool commented on #109
@hsluoyz @zeroonestring Perhaps we could replace the `ID` with hash of other columns.

[2021-06-10 06:19] zeroonestring commented on #109
Is ID used for indexing and performance optimization?

[2021-06-10 07:55] closetool commented on #109
@zeroonestring It used by ordering https://github.com/casbin/gorm-adapter/blob/b448b9d5871c5c7f2b34cf7868da5e52d72e4e5a/adapter.go#L369.
Are you facing the limitation of policy count? I guess `9223372036854775807` is enough for most projects, it doesn't need to be deleted.

[2021-06-13 07:34] zeroonestring commented on #109
If there is no other way, so be it for now.

[2021-06-13 08:47] closetool commented on #109
@zeroonestring You could make a issue if you encountered that scenario

[2021-06-13 14:20] hsluoyz commented on #109
Closed for now.

[2021-06-13 14:20] #109 closed

[2021-06-16 12:42] #110 closed

[2021-06-21 16:38] deatil opened #112 "The test is error,i use the example."
https://github.com/casbin/gorm-adapter/blob/9500f7f62d505c488deb4b98817fe07728e4b459/adapter_test.go#L157

测试的模型表不该用和适配器相同的表名，一样的表名没法测试的出来换了表名后能不能正常的工作。

我测试了下，换成了其他的表名后，用的还是默认的表名来进行的，那就是说，这个方法目前是有问题的。

The tablename need use other name to test and use same tablename is not good test.

[2021-06-21 16:47] deatil commented on #112
目前的gorm设置了默认的表名前缀，但是在这个适配器里没有用上默认的表名前缀。

Set default table prefix,but the adapter do not use it.

[2021-06-22 01:19] hsluoyz commented on #112
@closetool @tangyang9464  plz fix this.

[2021-06-22 01:24] closetool commented on #112
@deatil Thanks for your help, plz tell me what version are you using and which test has this error.

[2021-06-22 04:55] tangyang9464 commented on #112
I just noticed that it is right to modify `defaultTableName`（line 258） to the custom table name（such as 'test_casbin_rule'）
https://github.com/casbin/gorm-adapter/blob/9500f7f62d505c488deb4b98817fe07728e4b459/adapter.go#L250-L259
It seems to have created a custom table, but did not modify the tableName in adapter

[2021-06-22 06:01] hsluoyz commented on #112
@tangyang9464 plz make a PR

[2021-06-22 06:22] tangyang9464 commented on #112
@hsluoyz After my test, ```NewAdapterByDBWithCustomTable``` method worked. It creates a new table structure according to custom table, but the table name is still use the defaultTableName.So do we need to modify the table name? such as ‘TestCasbinRule’ struct corresponds to ‘test_casbin_rule’ table name?

[2021-06-23 12:56] #112 closed

[2021-06-25 00:54] zhiyi-home opened #114 "postgresql repeat call create table"
call func NewAdapterByDBUseTableName  must exec "err := a.createTable()"

hope have a switch canncel createtable

[2021-06-25 01:14] #114 closed

[2021-06-28 09:30] dreamlu opened #115 "mysql: docker run exec user process caused: no such file or directory"
go: 1.16
github.com/casbin/gorm-adapter/v3 v3.3.1

`GOOS=linux GOARCH=amd64 go build -ldflags '-w -s' -tags netgo -o main`

dockerfile:
[code]

In my web project, Every time, I add `github.com/casbin/gorm-adapter/v3 v3.3.1`  to go.mod and use it,
eg: `adapter, err := gormadapter.NewAdapter("mysql", ds, conf.GetString("app.db.name"))`
docker run it will be error: `standard_init_linux.go:228: exec u

[2021-06-28 10:12] hsluoyz commented on #115
@closetool @tangyang9464

[2021-06-29 03:48] closetool commented on #115
@dreamlu Could you offer me more infomations, like logs in docker or the whole project on github.

[2021-06-29 06:06] dreamlu commented on #115
@closetool

test branch: https://github.com/dreamlu/gt-crud/tree/csabin

steps:
1.every time  docker build: project path: `./docker.sh`
2.cd docker,`docker-compose up -d --build`
3.`docker logs d-demo` output `standard_init_linux.go:228: exec user process caused: no such file or directory`

my way:
remove the `github.com/casbin/gorm-adapter/v3`
or
1.change project Dockerfile: `FROM ubuntu:20.04`
2

[2021-06-29 07:47] closetool commented on #115
@dreamlu I could not reproduce this bug.

[code]

main.go
[code]
dockerfile
[code]
go.mod
[code]

[2021-06-29 07:57] dreamlu commented on #115
My system is ubuntu 20.04
I test restart my system and in my aliyun cloud ubuntu 18.04 test it, also had this error

[2021-06-29 08:02] closetool commented on #115
@dreamlu Any idea about which file could not be found?

[2021-06-29 08:03] dreamlu commented on #115
the test branch must exec main-->init() and routers/authz.go,can not annotate those code, it will be error
 I try to annotate those code,it will be right

[2021-06-29 08:05] closetool commented on #115
@dreamlu Could you modify your code so I cant reproduce the error easily?

[2021-06-29 08:15] dreamlu commented on #115
Could you use teamviewer controller my computer ? my id is 223 381 243 passwod is iy4a9ze9

[2021-06-29 08:26] dreamlu commented on #115
I guess not the adapter, mybe the depencies, like `github.com/jackc/pgconn`
,it depency more like this
![image](https://user-images.githubusercontent.com/21306894/123763789-baa71a80-d8f6-11eb-9903-3fff6a5a6173.png)

[2021-06-29 09:25] dreamlu commented on #115
I test it，use github.com/dreamlu/gorm-adapter/v3 v3.3.3 replace can resolve;

when I delete about postgres and sqlserver, only use mysql, it was success!

[2021-06-29 09:45] closetool commented on #115
After much trying, I found out there's a bug in `github.com/jackc/pgconn`, will tansfer this issue to `pgconn`

[2021-07-09 06:53] pandaria2012 opened #117 "DeleteRolesForUser not work"
code:

[code]

log:

[code]

and i found adapter.go:644

[code]

it seems not excuted.

[2021-07-09 07:28] hsluoyz commented on #117
@closetool

[2021-07-09 07:44] hsluoyz commented on #115
@closetool they are not replying to this issue: https://github.com/jackc/pgconn/issues/78 , can we remove the pgconn dependency at our side?

[2021-07-09 07:46] closetool commented on #117
@pandaria2012 May I have your model and policy file?

[2021-07-09 07:51] closetool commented on #115
@hsluoyz Maybe replace this repo by [lib/pg](https://github.com/lib/pq)

[2021-07-09 07:52] closetool commented on #115
@hsluoyz Maybe we could.

[2021-07-09 07:53] hsluoyz commented on #115
@closetool plz do this!

[2021-07-09 08:29] pandaria2012 commented on #117
CREATE TABLE `tb_casbin_rule`  (
  `id` bigint UNSIGNED NOT NULL AUTO_INCREMENT,
  `ptype` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  `v0` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  `v1` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  `v2` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb

[2021-07-09 08:58] closetool commented on #117
@pandaria2012 Which version gorm are you using?

[2021-07-09 09:02] pandaria2012 commented on #117
github.com/casbin/gorm-adapter/v3 v3.3.1
github.com/casbin/casbin/v2 v2.31.9
gorm.io/gorm v1.21.11

go 1.16

[2021-07-10 03:26] closetool commented on #117
@pandaria2012 I write a demo, and it works well. If it's because there no data in your db, or something else.

code
[code]

result
[code]

[2021-07-10 03:36] hsluoyz commented on #117
@closetool can you put your demo to a github repo?

[2021-07-10 03:55] closetool commented on #117
@hsluoyz @pandaria2012 demo refer to https://github.com/closetool/playground

[2021-07-10 06:56] #115 closed

[2021-07-12 08:58] pandaria2012 commented on #117
using the gorm-adapter, not the file-adapter

e.DeleteRolesForUser("bob")    // this does well in casbin, but not auto save(delete) in the database;

because this gorm:
err := db.Delete(a.getTableInstance(), args...).Error
the Delete method says([https://gorm.io/docs/delete.html#Batch-Delete](https://gorm.io/docs/delete.html#Batch-Delete)):
`
The specified value has no primary value, GORM will per

[2021-07-12 10:22] closetool commented on #117
@pandaria2012 I wrote a unit test for it. https://github.com/closetool/gorm-adapter/blob/8b3bf70a2575dd9f4dce208445dea71723b8137f/adapter_test.go#L297

[2021-07-12 10:29] closetool commented on #117
@pandaria2012 I wrote a test for it. https://github.com/closetool/gorm-adapter/blob/8a1073e622ed428f08f83aa174a4678400165a31/adapter_test.go#L297

[2021-07-13 01:24] pandaria2012 commented on #117
e, _ := casbin.NewEnforcer("examples/rbac_with_domains_model.conf", "examples/rbac_with_domains_policy.csv")

the second param `"examples/rbac_with_domains_policy.csv"` is the file-adapter

change it like that:
`
a, _ := gormadapter.NewAdapter("mysql", "mysql_username:mysql_password@tcp(127.0.0.1:3306)/")
e, _ := casbin.NewEnforcer("examples/rbac_with_domains_model.conf", a)
`

use gormadapter;
[g

[2021-07-13 01:47] closetool commented on #117
@pandaria2012 No, I used gorm-adapter
refer to https://github.com/closetool/gorm-adapter/blob/8a1073e622ed428f08f83aa174a4678400165a31/adapter_test.go#L300

[2021-07-13 02:59] pandaria2012 commented on #117
Yes, casbin does well.

but after delete, you can login to mysql server, select from the table, the record is still there.

trying do this:

1. add roles to user
2. delete role from user
3. add another roles to(that contains step one's role) user
ex:
ok, _ = e.AddRolesForUser("admin", []string{"role1", "role2"})
ok, err := e.DeleteRolesForUser("admin")
ok, _ = e.AddRolesForUser("admin", []string{"

[2021-07-13 12:28] closetool commented on #117
@pandaria2012 I checked the database, the record has been deleted. And I wrote a test for it.
https://github.com/closetool/gorm-adapter/blob/3168472714398e7006ec0088af7be46084bb0773/adapter_test.go#L297
And it seems still fine. How about you write some test for it?

[2021-07-16 12:09] arafat-java opened #119 "[QUESTION] How to drop the entire casbin rule table"
We are using casbin in conjunction with gorm adapter in a cloud based multi tenant system.
So when a new tenant gets onboarded we create a table of the format casbin_rule_<tenantMoniker>

Now when the tenant gets off boarded we want to drop the entire casbin_rule_<tenantMoniker> table
Which API can we use for this

[2021-07-16 12:30] hsluoyz commented on #119
@arafat-java the adapter usually doesn't drop table, it only creates table if necessary. So I think you have to drop the table by yourself.

[2021-07-16 12:30] #119 closed

[2021-07-22 03:22] pandaria2012 commented on #117
Hi, sorry to reply so late, I'm a little busy recently.
as you said, i fork the code, and make some tests, all things are well.
and i use another cumputer to run my code, there are doing well too.

maybe it's my golang enviroment problems, i guess.

anyway, i'll close this issue, and thanks for your replay.

[2021-07-22 03:22] #117 closed

[2021-08-04 10:52] arafat-java opened #123 "[BUG] e.GetNamedPolicy("p") gives incorrect response if data contains comma ( , ) character"
We are using casbin with gorm-adapter.

My model.conf is as follows
[code]

My data in casbin_rule looks as follows

[code]

Now when I call GetNamedPolicy on the enforcer as follows
`e.GetNamedPolicy("p")`

For 1st row it returns array data correctly as follows

[code]

**However for the 2nd Row it gives incorrect data as follows**
[code]

Note that it gives 1st element of array as "abc" , 2nd el

[2021-08-04 11:09] hsluoyz commented on #123
@closetool @tangyang9464

[2021-08-04 13:24] tangyang9464 commented on #123
@arafat-java
Obviously, the ``,`` is a separator, why not replace it, such as ``abc_xyz `` or other separator?

[2021-08-04 14:33] hsluoyz commented on #123
@tangyang9464 this is a DB adapter and I don't think we need to use comma as separator, right? Even for the built-in CSV adapter, CSV has a way to escape the comma by quoting the string. So this is something we need to fix.

[2021-08-04 14:39] tangyang9464 commented on #123
ok, I will think about it again

[2021-08-05 11:18] #123 closed

[2021-08-09 17:18] arafat-java opened #125 "[BUG] Table gets empty/cleared while using e.RemoveFilteredPolicy and e.RemoveFilteredGroupingPolicy"
With gorm adapter when we use `e.RemoveFilteredPolicy(0, identityId)`   and if the identityId is empty then the adapter drops the v0 clause completely from the delete query

So instead of
`DELETE FROM "casbin_rule" WHERE ptype = 'p' and v0 = ''`
it fires
`DELETE FROM "casbin_rule" WHERE ptype = 'p'`
And this accidentally causes all the p records to get deleted

Similary with  `e.RemoveFilteredGrou

[2021-08-10 01:17] hsluoyz commented on #125
@closetool @tangyang9464

[2021-09-09 01:58] arafat-java opened #129 "The rules are not added as a single SQL INSERT when using e.AddPolicies(rules) nor is there transaction maintained"
With gorm adapter when we use `e.AddPolicies(rules)` the statement within rules are not inserted as part of a single SQL INSERT statement. Rather individual inserts are fired.

Example : If following 3 elements are passed in rules
[code]

Then the adapter makes 3 individual INSERT statements as follows
[code]

And the worst part is that it does not make that as part of a transaction.
So that way s

[2021-09-09 02:05] hsluoyz commented on #129
@MRGUOKING plz fix the wrong label:

![AUL5)O%X9A)``M9Z{CQ0HYJ](https://user-images.githubusercontent.com/3787410/132610235-d4aac955-1dca-40b4-a423-68a133f68511.png)

[2021-09-09 02:06] hsluoyz commented on #129
@tangyang9464 plz change to batch insert.

[2021-09-09 02:17] arafat-java commented on #129
@hsluoyz Removed the [BUG] label

[2021-09-09 03:55] tangyang9464 commented on #129
@arafat-java https://github.com/casbin/gorm-adapter/blob/ed2cfa40c4091064e8cd06d44730f641baec76b7/adapter.go#L564-L570
This method uses a transaction (``a.db.Transaction``), and it will roll back when the ``Create`` fails and returns an error. Does this not work for you?

[2021-09-09 04:07] hsluoyz commented on #129
@tangyang9464 but we better do it in a batch to improve performance. Also change RemoveXxx() and UpdateXxx().

[2021-09-09 05:07] arafat-java commented on #129
It does @tangyang9464 . Actually it was printing the insert statements and that caused me to think that it was actually going ahead and inserting those records. Now when I dig further I realized that it was simply printing the statements and not inserting records if even one record has the duplicate error. Sorry for the confusion. So I am good with that, but as @hsluoyz  pointed out it will be goo

[2021-09-09 08:24] tangyang9464 commented on #129
@hsluoyz I think batch insert is ok but batch remove and update are not suitable for our needs. SQL has no batch for remove or update and can only be executed individually

[2021-09-14 13:38] #129 closed

[2021-09-14 13:40] #125 closed

[2021-09-29 12:40] sixcolors opened #133 "sqlite3 support listed in Readme.md but not in code"
sqlite3 support was disabled in code #94 however the readme was not updated to reflect this.

Although I disagree that that is an issue see: https://github.com/mattn/go-sqlite3#installation

[2021-09-29 13:54] hsluoyz commented on #133
@tangyang9464 I think we can provide a `sqlite` branch.

[2021-09-30 02:48] tangyang9464 commented on #133
@hsluoyz Can you create the ``sqlite`` branch? I restored support for sqlite in [sqlite-branch](https://github.com/tangyang9464/gorm-adapter/tree/sqlite)

[2021-09-30 04:38] hsluoyz commented on #133
@tangyang9464 you can create it by yourself now.

[2021-10-14 04:06] hby07 opened #137 "Auto Save Policy Error"
1. The custom field name is not recognized.
Error 1054: Unknown column 'v0' in 'field list'
INSERT INTO `rule` (`ptype`,`v0`,`v1`,`v2`,`v3`,`v4`,`v5`) VALUES ('p','6843858879596597248','6847833558493564928','6847101521163849728','write','','')

2.policy is not added
When I use the database，ce.model["p"].["p2"].Policy is nil.
but this has data when i used file(rule_policy.csv).

Please help me solv

[2021-10-14 05:07] hby07 commented on #137
Does it mean that custom fields cannot be used?

[2021-10-15 03:23] hby07 commented on #137
The problem has not been solved,but I used another way.

[2021-10-23 03:59] piyongcai opened #138 "Using the casbin domain model, building database table partitions is difficult"
in some database(eg:postgresql) support partition table.

In the casbin domain model, you can create partition table by domain.
[code]
However, the casbin domain model "p" and "g" domain has diffrent position, Policy("p") domain column is "v1", but Policy("g") domain column is "v2".
It cause to the complexity of building partition table.

Sugestion:  The unified domain column is defined as the "v1

[2021-10-23 13:43] #138 closed, assigned to hsluoyz

[2021-11-14 09:55] alasad311 opened #141 "Can't pull gorm-adapter"
Ive been trying to pull using

`go get github.com/casbin/gorm-adapter/v3`

Im getting the below error

`gorm.io/driver/sqlserver
..\..\..\go\pkg\mod\gorm.io\driver\sqlserver@v1.0.9\update.go:13:18: cannot use db (type *gorm.DB) as type *callbacks.Config in argument to callbacks.Update`
`gorm.io/driver/postgres
..\..\..\go\pkg\mod\gorm.io\driver\postgres@v1.1.2\postgres.go:46:3: unknown field 'With

[2021-11-14 11:27] hsluoyz commented on #141
@abichinger

[2021-11-14 21:44] abichinger commented on #141
@alasad311 have you tried to update the modules? similar issue: https://github.com/go-gorm/gorm/issues/4822
[code]

[2021-11-15 04:08] alasad311 commented on #141
Yes i did, even tried to change versions manually though go.mod the same issue persists

[2021-11-15 09:04] hsluoyz commented on #141
@abichinger can you reproduce it in your machine?

@alasad311 can you reproduce it in another machine?

[2021-11-15 14:20] abichinger commented on #141
Yes, I was able to reproduce it on my machine.

Steps:
1. execute:
[code]
2. create file main.go:
[code]

3. execute:
[code]

Output of `go build`:
[code]

`go.mod`:
[code]

Updating the modules resolves the build error for me:
[code]

[2021-11-16 12:13] odeCe opened #142 "gormv2 and casbin"
[code]

go run main.go

![image](https://user-images.githubusercontent.com/73453065/141983118-4d2e082f-db44-4ba3-b7e1-8c7f624867fa.png)

    # gorm.io/driver/sqlserver
    E:\Code\Go\pkg\mod\gorm.io\driver\sqlserver@v1.0.9\update.go:13:18: cannot use db (type *gorm.DB) as type *callbacks.Config in argument to callbacks.Update
    # gorm.io/driver/postgres
    E:\Code\Go\pkg\mod\gorm.io\driver\post

[2021-11-16 12:17] hsluoyz commented on #142
@abichinger @Abingcbc

[2021-11-16 12:30] abichinger commented on #142
same error as #141

[2021-11-16 12:34] hsluoyz commented on #142
@abichinger how to fix it then?

[2021-11-16 13:12] abichinger commented on #142
@hsluoyz  I'm not sure how to fix it.
A quick fix for me was to [update the modules](https://github.com/casbin/gorm-adapter/issues/141#issuecomment-968369260).

Maybe the requirements of gorm-drivers should be removed from the gorm-adapter.
Then the gorm-adapter can only be initialized by passing an instance of `gorm.DB`.
In other words, I would delete the following functions:
[code]

[2021-11-16 13:21] odeCe commented on #142
I also want to replace, but the project already uses gorm v2

Is there any way to use gorm v2

[2021-11-17 06:43] MELF2018 commented on #142
You need to modify the go.mod file for your project
require (
	github.com/casbin/casbin/v2 v2.37.4
	github.com/casbin/gorm-adapter/v3 v3.4.5
	github.com/go-sql-driver/mysql v1.6.0
	gorm.io/driver/mysql v1.1.2
	gorm.io/gorm v1.21.15
)

[2021-11-17 06:44] melf-xyzh commented on #142
You need to modify the go.mod file for your project
require (
github.com/casbin/casbin/v2 v2.37.4
github.com/casbin/gorm-adapter/v3 v3.4.5
github.com/go-sql-driver/mysql v1.6.0
gorm.io/driver/mysql v1.1.2
gorm.io/gorm v1.21.15
)

[2021-11-17 07:34] Abingcbc commented on #142
Maybe we should update the version of sql-server and Postgres in gorm-adapter?

https://github.com/casbin/gorm-adapter/blob/master/go.mod#L12

[2021-11-17 08:08] hsluoyz commented on #141
@abichinger why this happens? Is it because the user has once used an old version of Casbin or gorm-adapter or gorm before? Will this error happen for a first-time user (just get Go installed, doesn't run anything yet) ?

[2021-11-17 08:55] abichinger commented on #142
@Abingcbc I guess that would solve the error for now. But then the same problem may occur in the future.

I think we should remove the dependencies of gorm drivers.

[2021-11-17 09:18] abichinger commented on #141
@hsluoyz I think this affects all users, which use `gorm.io/gorm` and `github.com/casbin/gorm-adapter/v3` inside their project.

The problem is that go will download the latest version of `gorm` and the `gorm-adapter` requires old drivers, which are not compatible with the latest version of `gorm`.

[2021-11-17 11:49] odeCe commented on #142
package main

import (
	"fmt"
	"github.com/casbin/casbin/v2"
	"log"
)
var E *casbin.Enforcer
func main() {

	e,err:= casbin.NewEnforcer("resources/model.conf")
	if err!=nil{
		log.Fatal()
	}
	err=e.LoadPolicy()
	if err!=nil{
		log.Fatal()
	}
	E=e

	initPolicy()

	b,_:=e.Enforce("lisi", "/depts", "POST")
	if b{
		fmt.Println("ok")
	}else{
		fmt.Println("no")
	}
}

//grom loading
func initPolicy()

[2021-11-17 11:49] #142 closed

[2021-11-17 13:06] hsluoyz commented on #141
@abichinger  We (gorm-adapter) can updates to use latest gorm version. We just need to upgrade our dependencies. Does this help?

[2021-11-17 13:36] abichinger commented on #141
@hsluoyz Yes, that would help.
But as I mentioned [here](https://github.com/casbin/gorm-adapter/issues/142#issuecomment-971368123), it would not prevent this issue from happening again in the future.

[2021-11-17 16:13] hsluoyz commented on #141
@abichinger deleting those functions will result in breaking change. I think for now a temp fix is already enough.

[2021-11-23 09:08] admi2u commented on #141
i have the save problem, how to fix it now?

[2021-11-23 11:14] hsluoyz commented on #141
@Abingcbc plz follow up this issue

[2021-11-24 14:21] #141 closed

[2021-12-17 06:41] GENG824 opened #144 "Adapter UpdatePolicy error:"
when I use e.UpdatePolicy ,error:

panic: interface conversion: *gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdateFilteredPolicies

[2021-12-17 07:26] hsluoyz commented on #144
@abichinger @Abingcbc @seriouszyx

[2021-12-17 16:02] Abingcbc commented on #144
@GENG824 Could you provide reproduction progress?

[2021-12-18 01:38] hsluoyz commented on #144
@GENG824 it has been added in this PR. Please use the latest version.

[2021-12-18 01:38] #144 closed

[2022-01-02 11:51] Genora51 opened #145 "Option to turn off auto migration?"
I have a use case where gorm automigration is done at deploy-time in a CI/CD pipeline, rather than at runtime; the database user on the deployed application does not have permissions to create or drop tables.

Is there a way to prevent auto-migration of the database tables when a `NewAdapter` is initialised, and if not, can this be implemented somehow?

[2022-01-06 04:10] ancheGT opened #146 "Is something wrong in table struct?"
Datebase is MySQL 8.0.12

The DDL which is created by `gormadapter.CasbinRule`:

[code]

go code like:
[code]

If the `ID` field of `CasbinRule` doesn't exist,it will cause error like:
[code]

I tried execute `ALTER TABLE `casbin_rule` ADD `id` bigint unsigned AUTO_INCREMENT` in command line,it does't work

[2022-01-06 04:18] hsluoyz commented on #146
@abichinger @Abingcbc

[2022-01-07 09:28] Abingcbc commented on #146
@ancheGT  What do you mean by `The DDL which is created by gormadapter.CasbinRule` ?

[2022-01-27 08:51] forTWOS opened #147 "panic: github.com/casbin/gorm-adapter/v3@v3.4.6/adapter.go:449"
[code]

`	if e.adapter != nil && (!ok || ok && !fa.IsFiltered()) {`
    `e.adapter != nil` result in false

`interface != nil` is not compatible

[2022-01-27 09:01] hsluoyz commented on #147
@Abingcbc

[2022-02-09 05:44] arafat-java opened #148 "Question : How to close connection created using pgAdapter.NewFilteredAdapter"
Ours is a cloud based multi tenant system and we cache one adapter instance (`pgAdapter.NewFilteredAdapte`r) for each tenant.
However when we remove the adapter instance from the cache the connection to DB is not released
So, how to close connection created using `pgAdapter.NewFilteredAdapter`

[2022-02-09 08:07] hsluoyz commented on #148
@tangyang9464 @Abingcbc @fabian4

[2022-02-09 09:54] Abingcbc commented on #148
@arafat-java  You can use `finalizer(a *Adapter)`
Refer to https://github.com/casbin/gorm-adapter/blob/master/adapter.go#L81

[2022-02-09 13:05] arafat-java commented on #148
How can I call that `finalizer(a *Adapter)`. I have the reference of Adapter that I get via `pgAdapter.NewFilteredAdapter`.
Is there any code sample

[2022-02-09 13:09] Abingcbc commented on #148
[code]

[2022-02-09 13:12] hsluoyz commented on #148
@Abingcbc isn't `finalizer()` a private method? Can it be called from outside?

[2022-02-09 13:15] Abingcbc commented on #148
Yes, it's my mistake.

[2022-02-09 13:32] Abingcbc commented on #148
@arafat-java  The connection will be closed when the adapter is finalized and released by runtime gc.
Do you need to manually close the connection immediately? The current version of the adapter doesn't support but we can add this feature.

[2022-02-09 13:59] hsluoyz commented on #148
@Abingcbc plz add this feature

[2022-02-09 20:52] Genora51 commented on #145
Any chance of an update on this?

[2022-02-10 01:03] hsluoyz commented on #145
@Genora51 sorry that we missed this issue.

I think @closetool first developed the auto migration part?

Can anyone add an option? @tangyang9464 @Abingcbc @fabian4

[2022-02-10 09:07] #148 closed

[2022-02-10 11:11] arafat-java commented on #148
Thanks guys for the quick resolution

[2022-02-10 12:50] hsluoyz commented on #147
@forTWOS can you share more info about the issue? What's your question?

[2022-02-11 04:45] Abingcbc commented on #146
I know what DDL is......
I mean gormadapter doesn't explicitly create such sql.

[2022-02-11 06:43] hsluoyz commented on #146
@Abingcbc GORM is a ORM, it will automatically create SQL table if not existed when the Go code runs. The SQL table will have a DDL. You should refer to GORM docs to see how DDL is generated.

[2022-02-11 07:09] Abingcbc commented on #146
@hsluoyz Of course. But the DDL I get from the MySQL:8.0.12 is like following
[code]
There is no problem. So I am confused where @ancheGT  get his codes.

[2022-03-19 21:29] TJM opened #150 "Native Go SQLite implementation"
I propose that sqlite should be supported, perhaps using this implementation: `"github.com/glebarez/sqlite"`

REF: https://gorm.io/docs/connecting_to_the_database.html#SQLite

[2022-03-20 01:55] hsluoyz commented on #150
@Abingcbc

[2022-03-25 03:00] zz541843 opened #151 "v1-v5,really too few"
![image](https://user-images.githubusercontent.com/72638366/160045978-e19effc8-9794-4f92-95f4-c4d160c08970.png)

[2022-03-25 04:00] hsluoyz commented on #151
@zz541843 how many do you need?

[2022-03-25 05:08] zz541843 commented on #151
Add one or two more or customize

[2022-03-25 06:18] hsluoyz commented on #151
@zz541843 let's add `v6` and `v7`, can you make a PR?

[2022-03-25 12:40] vibhugarg123 opened #153 "Support for postgres connection pooling"
How can we add max idle connection, database max connections, database idle connections, DB connection max lifetime to postgres?
P.S-:)Using github.com/casbin/gorm-adapter/v2 v2.0.0

[2022-03-26 01:35] hsluoyz commented on #153
@vibhugarg123 can you make a PR to expose the postgres handle public? Then you can set its value by yourself.

[2022-03-26 09:16] Goxiaoy commented on #145
Any progress on this feature?

[2022-03-26 09:18] hsluoyz commented on #145
@tangyang9464 @seriouszyx

[2022-03-26 09:29] Goxiaoy commented on #145
And for `SavePolicy`, it's better to truncate table instead of recreation
https://github.com/casbin/gorm-adapter/blob/7b3bc27c2b301e05607450cdf68aad047507943f/adapter.go#L507-L516

[2022-03-28 08:06] vibhugarg123 commented on #153
@hsluoyz  I tried creating PR against version v2.0.3. But, it's not allowing to create a PR against this tag, but allowing against master. Is it expected? If it is expected, what is the process to raise PR against particular version?
https://github.com/casbin/gorm-adapter/pull/155

[2022-03-28 08:56] hsluoyz commented on #153
@vibhugarg123 we only develop on master (which is v3 now), can you migrate to use v3 instead?

[2022-03-28 09:05] vibhugarg123 commented on #153
@hsluoyz If I migrate to v3, I need to change in a lot of services, which would be a big change for me. It would be great if you raise it on top of v2.0.3.

[2022-03-28 09:08] hsluoyz commented on #153
@vibhugarg123 we have released v3.x for two years. We won't maintain v2 branch any more. You can fork the v2 code and commit it by yourself.

[2022-03-28 09:08] #153 closed

[2022-04-04 05:59] hktalent opened #156 "[bug]unknown field 'PType' in struct literal of type struct"
why?
v3@v3.5.0
go build my project
[code]

[2022-04-04 06:05] hktalent commented on #156
@tangyang9464 @closetool @sagilio v3.0.2 is ok

[2022-04-04 07:24] hsluoyz commented on #156
@hktalent `PType` has been renamed to `Ptype` starting from v3.2.7: https://github.com/casbin/gorm-adapter/commit/fa4239f79114122142bce7dfe60c09f8eef5c741 . Please modify your DB column name to use the latest version

[2022-04-04 07:24] #156 closed

[2022-04-16 02:56] #151 closed

[2022-04-16 13:36] hsluoyz commented on #147
Closed as stale.

[2022-04-16 13:36] #147 closed

[2022-04-16 13:37] hsluoyz commented on #150
@TJM can you make a PR to support it?

[2022-04-19 19:37] TJM commented on #150
@hsluoyz I tried, but failed. :(  I use sqlite for local development. I have tried with both the 'c' implementation and this golang implementation. They both work fine for my application, which uses gorm, but I get an error about "id" fields when I try to use it for casbin. The funny part is that it works fine the *first* time you start, but the second time you start the app (where the database ha

[2022-04-21 00:57] hsluoyz commented on #150
@tangyang9464

[2022-04-21 08:26] tangyang9464 commented on #150
@TJM I found the bug was because of this line of code.
https://github.com/casbin/gorm-adapter/blob/34e13d4d2dd3d88170d9e5a38c5f671e11328fb8/adapter.go#L377
See [AutoMigrate bug](https://github.com/go-gorm/sqlite/issues/7). Since [glebarez/sqlite](https://github.com/glebarez/sqlite) is too backward and has not been updated, this PR cannot be implemented at present.

Regarding your second question,

[2022-04-21 11:35] glebarez commented on #150
Actually it is not falling backwards.
Here's the diff between fork and the original repo https://github.com/glebarez/sqlite/compare/master...go-gorm:master
The only thing is deps, which are already up to date in fork.

[2022-04-21 11:36] glebarez commented on #150
@TJM does your case fail with both CGo and pure-Go implementations? Or is it just Pure-Go fails ?

[2022-04-21 12:16] tangyang9464 commented on #150
@glebarez Yes, you are right, I neglected. If so, when this bug is resolved I'd be gald to implement our functionality based on it.

[2022-04-21 12:34] tangyang9464 commented on #150
@glebarez I tested it. Fail with both CGo and pure-Go implementations.

[2022-04-21 13:12] glebarez commented on #150
created an issue https://github.com/go-gorm/gorm/issues/5282 to the upstream.

[2022-04-21 14:53] TJM commented on #150
You guys rock! Thanks!

I am passing it a glebarez/sqlite `*gorm.DB`, and it is working great!

[2022-04-21 14:54] tangyang9464 commented on #150
@glebarez thanks. It works.

[2022-04-22 14:09] #150 closed

[2022-05-12 08:29] OldSmokeGun opened #159 "How to turn off auto migration?"
Error 1071: Specified key was too long; max key length is 3072 bytes

One way to fix this is to change mysql's default storage engine to InnoDB, but in practice we cannot ask the DBA to do this. Another way is to change the size of the field, but this may not be able to store large field values

Please provide the option to turn off automatic migration and return the choice of whether to migrate o

[2022-05-12 08:30] OldSmokeGun commented on #159
Please provide this option! Thanks!

[2022-05-12 09:19] hsluoyz commented on #159
@OldSmokeGun can you make a PR for it?

[2022-05-12 09:25] hsluoyz commented on #159
@tangyang9464

[2022-05-12 09:31] tangyang9464 commented on #159
duplicate #145. To be reviewed later PR #154

[2022-05-12 10:36] hsluoyz commented on #159
@tangyang9464 can you make a new PR based on https://github.com/casbin/gorm-adapter/pull/154 ? that PR's code quality is too bad.

[2022-05-12 14:49] #159 closed

[2022-05-12 15:16] tangyang9464 commented on #146
@ancheGT @hsluoyz I don't know what ``the ID field of CasbinRule doesn't exist`` means, I need more information to reproduce the bug. But it seems that this issue has been unanswered for a long time.

[2022-05-12 16:05] #146 closed

[2022-05-12 16:20] Goxiaoy commented on #145
Please reopen this issue @hsluoyz
`SavePolicy` use DDL statement

[2022-05-12 17:38] hsluoyz commented on #145
@tangyang9464

[2022-05-13 00:49] tangyang9464 commented on #145
@Goxiaoy Sorry I didn't add this part, I think a new PR should be opened for this part and this issue is irrelevant, so there is no need to reopen it. Can you do this PR？

[2022-05-13 08:46] OldSmokeGun opened #162 "table names cannot be specified after automatic migration is disabled"
#160

This commit can indeed turn off the automatic migration, but it cannot specify a custom data table name

I try to make a commit, but I don't have the environment for unit testing, so I can't pass the test

Hope the NewAdapterWithoutAutoMigrate function can specify the data table name

[2022-05-13 09:57] hsluoyz commented on #162
@tangyang9464

[2022-05-13 10:17] tangyang9464 commented on #162
@OldSmokeGun Because the adapter gives the user the right to create a table, the custom table name and even the table structure will be based on the functions provided by gorm itself. You can customize the table name like this
[code]

[2022-05-13 14:23] OldSmokeGun commented on #162
@tangyang9464 Thanks for your answer, but don't you think this limits user only can use the gormadapter.CasbinRule type?

Why can't the user's own structure and table name be passed in like the NewAdapterByDBWithCustomTable function? This is extremely scalable for users

[2022-05-13 15:34] tangyang9464 commented on #162
@OldSmokeGun ``db.Table("custom_name").Migrator().AutoMigrate(custom_table{})`` can define both table name and table structure. Actually ``NewAdapterByDBWithCustomTable`` also does it like this. ``CustomTable`` just change the gorm struct tags, but the table structure must stay the same. see https://github.com/casbin/gorm-adapter#customize-table-columns-example

[2022-05-13 16:10] OldSmokeGun commented on #162
@tangyang9464

![image](https://user-images.githubusercontent.com/30717069/168322849-4e124960-53f2-466c-82dc-9aa9314c382c.png)

As you can see, the NewAdapterWithoutAutoMigrate function uses defaultTableName, and its value is casbin_rule, which means that even if I use a custom structure when migrating, its table name must be casbin_rule, otherwise, how does the adapter know to use which table

If

[2022-05-13 16:23] OldSmokeGun commented on #162
@tangyang9464  Thanks for your contribution!

[2022-05-14 06:53] tangyang9464 commented on #145
@Goxiaoy solved by #163

[2022-05-15 06:34] #145 closed

[2022-05-28 07:02] 4927525 opened #165 "panic recovered: interface conversion: *gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdateFilteredPolicies"
Hello, when running UpdatePolicy this error comes up.

[code]

import
[code]
the code that triggers the error:
[code]

[2022-05-29 16:55] hsluoyz commented on #165
@4927525 did you use the latest version? Please do that.

[2022-06-09 15:59] hsluoyz commented on #165
@4927525 UpdatableAdapter interface is supported in v3.0.6: https://github.com/casbin/gorm-adapter/issues/65 , please update to latest version

[2022-06-09 15:59] #165 closed

[2022-06-18 23:30] basimsahaf opened #167 "How do I soft delete entries in casbin_rule table?"
I've been meaning to implement soft delete on my `casbin_rule` table i.e have a `deactivated_at` column that is set to the time it the policy was deleted instead of completing nuking the row from the table. This function called [here](https://github.com/casbin/gorm-adapter/blob/master/adapter.go#L716) mentions in the documentation that if the table has a DeletedAt column, it'll perform the soft de

[2022-06-19 02:25] hsluoyz commented on #167
@JalinWang @imp2002

/cc @tangyang9464

[2022-06-19 02:39] tangyang9464 commented on #167
@JalinWang @imp2002

Maybe we should allow users to customize the table structure instead of using the default ``CasbinRule``. The current ``NewAdapterByDBWithCustomTable`` is not affordable function, we need to improve it.

[2022-06-19 05:04] basimsahaf commented on #167
@tangyang9464 that would be great.

The way others can make it work is that if you change the structure of `CasbinRule`, you can insert a new column (or replace any of the existing ones) called `deletedat` with type `*time.Time gorm:"column:createdat`. If gorm sees this column, it will automatically soft delete the entries without changing anything in the implementation (https://gorm.io/docs/delet

[2022-06-19 05:10] tangyang9464 commented on #167
@basimsahaf This is not a generic field, so we will try to implement it through a custom structure

[2022-06-19 05:11] basimsahaf commented on #167
@tangyang9464 yeah, I wrote that answer for others so they can make this work while you come up with a fix.

[2022-06-19 05:15] tangyang9464 commented on #167
@basimsahaf This is exactly what we are looking for. Unfortunately, the gorm-adapter currently does not support adding fields

[2022-06-26 15:46] JalinWang opened #169 "[bug] returned data of UpdateFilteredPolicies()"
When `Enforcer.UpdateFilteredPolicies()` is called, the calculation of effected lines require  `old rules` returned by the Adapter in `sub, obj, act` form. However, the returned data is `p, sub, obj, act`.

Traceback:
![image](https://user-images.githubusercontent.com/20621784/175821994-5d2bc77d-03c3-4657-ad81-5b1de0ebb658.png)
![image](https://user-images.githubusercontent.com/20621784/175822230-

[2022-06-26 15:58] JalinWang commented on #169
I'll open a PR tomorrow

[2022-06-27 02:14] tangyang9464 commented on #169
@JalinWang see similar [casbin#1008](https://github.com/casbin/casbin/pull/1008)

[2022-06-28 06:56] Lee-0x00 commented on #162
use **TurnOffAutoMigrate** is Fail, As follows
`db, err := gorm.Open(mysql.Open("root:ddd@tcp(127.0.0.1:3306)/test"), &gorm.Config{})
gormadapter.TurnOffAutoMigrate(db)
a, err := gormadapter.NewAdapterByDBWithCustomTable(db, nil, "casbin_rule")`
someone like me?

[2022-06-28 07:04] tangyang9464 commented on #162
@Lee-0x00 db = gormadapter.TurnOffAutoMigrate(db)

[2022-06-28 08:44] tangyang9464 commented on #162
Check it out later

[2022-07-03 12:50] #162 closed

[2022-07-03 15:36] JalinWang commented on #169
Update Casbin version in `go.mod` can solve the problem.
I don't find any more similar cases.
Just close it or make a PR?

[2022-07-18 11:14] dayueba opened #171 "[bug] problem about auto-migration"
main.go
[code]
after run main.go

![image](https://user-images.githubusercontent.com/31641769/179644794-83601ccc-2b91-41dc-85fd-8c6d4af5c174.png)

table users not migrated

but when i use `gormadapter.NewAdapterByDB(db)` instead of `gormadapter.NewAdapterByDBWithCustomTable(db, nil, "custom_rules")`

it is right

![image](https://user-images.githubusercontent.com/31641769/179645159-4be3c48f-db03-4

[2022-07-18 15:37] JalinWang commented on #171
Can you try to drop the table and provide us a reproduction guide?

[2022-07-18 17:47] hsluoyz commented on #171
@dayueba plz modify the original text into English, not write a new reply

[2022-07-19 07:59] #171 closed

[2022-07-19 17:22] pdonovan-merit opened #173 "is it appropriate to use a Dbadapter per-request?"
We are currently modifying our codebase to instantiate a dbadapter per-request to our system, which is an HTTP web service, giving us control over the root database transaction as well as the context passed to the dbadapter and its gorm.db on instantiation. We were wondering if this is a totally inappropriate use of the adapter or there are better recommended patterns.

We have also run into some

[2022-07-20 08:13] 2021-cm opened #174 "MYSQL engine MyISM index maximum limit 1000"
When initialized the database, the MYSQL engine MyISM index maximum limit 1000 causes an error to be optimized to create the index length under the optimization

[2022-07-20 13:26] JalinWang commented on #173
Every time an Enforcer is created with the adapter, it will load all the policies from the database. So if you have too many policies, initialization of the enforcer for each request is not recommended. However, initialization of the adapter and then calling `e.SetAdapter()` takes no cost other than authing connection with DB (note: if the DB is changed, you need to call `e.LoadPolicy()` manually

[2022-07-20 13:29] tangyang9464 commented on #174
@2021-cm You can customize the table to modify the field length. You can view README

[2022-07-20 13:39] hsluoyz commented on #174
@2021-cm plz change to English

[2022-07-21 01:11] 2021-cm commented on #174
When initialized the database, the MYSQL engine MyISM index maximum limit 1000 causes an error to be optimized to create the index length under the optimization

[2022-07-21 02:17] hsluoyz commented on #174
Answered.

[2022-07-21 02:17] #174 closed

[2022-07-25 06:47] VaneLord67 opened #175 "How do I use transaction ?"

[2022-07-25 07:15] JalinWang commented on #175
@VaneLord67  Could you please provide more details about what you want to achieve (scenario&purpose) ?

[2022-07-25 08:13] VaneLord67 commented on #175
`
common.Enforcer.Transaction(func () error {
    _, err = common.Enforcer.RemoveFilteredPolicy(0, userID, "", "")
    if err != nil {return err}
    _, err = common.Enforcer.AddPolicy(userIDStr, route, act)
    if err != nil {return err}
    return nil
})

`

[2022-07-25 09:56] hsluoyz commented on #175
@VaneLord67 @JalinWang does gorm support transactions?

[2022-07-25 10:12] VaneLord67 commented on #175
https://gorm.io/docs/transactions.html

[2022-07-25 11:30] hsluoyz commented on #175
@JalinWang plz work on it

[2022-07-26 03:51] VaneLord67 commented on #175
@JalinWang
I have a simple implementation at #176

[2022-08-10 12:14] Mikkelhost opened #177 "Loading multiple policy types."
Currently making an RBAC setup for a project.
I am using the gorm filtered adapter to make sure that i will not have to implement it at another point due to there being a lot of policies and suddenly a large codebase.

I am a little bit puzzled however. Is there no way to specify for an example that i want to load the following in a single filter?
1. All p policies regarding "someDomain"
2. All g

[2022-08-10 12:28] hsluoyz commented on #177
@JalinWang

/cc @tangyang9464

[2022-08-18 13:55] JalinWang commented on #177
@Mikkelhost Sorry but currently the answer is "yes"'😢
But I think it needs to be supported. I'll try to make a PR in days.

[2022-08-19 12:04] #177 closed

[2022-08-23 02:26] reckless-huang opened #179 "change default v7 to v5"
i want change default v7 struct to v5 ,use NewAdapterByDBWithCustomTable is not work
[code]

[2022-08-23 03:34] hsluoyz commented on #179
We added v6 and v7 because of this issue: https://github.com/casbin/gorm-adapter/issues/151

@zz541843 can we revert the PR?

[2022-08-23 03:35] hsluoyz commented on #179
@tangyang9464 what's your opinion?

@JalinWang

[2022-08-23 12:45] JalinWang commented on #179
Maybe we need to extend https://github.com/casbin/gorm-adapter/pull/168 to a more flexible schema?

[2022-08-23 12:48] hsluoyz commented on #179
@JalinWang plz revert PR: https://github.com/casbin/gorm-adapter/pull/157

[2022-08-23 15:05] tangyang9464 commented on #179
@JalinWang I think so.

[2022-08-23 15:07] tangyang9464 commented on #179
@hsluoyz I think we should extend #168 to support v7 instead of revert

[2022-08-24 02:27] reckless-huang commented on #179
every thanks  , what time for merge #168

[2022-08-26 08:25] JalinWang opened #180 "[Proposal] customizability CasbinRule structure"
Background:
Now `gorm-adapter` has `V0-V7` (introduced by https://github.com/casbin/gorm-adapter/issues/151), while other adapters have only `V0-V5`( which causes https://github.com/casbin/casbin-server/issues/71).
Also, a request for changing back (https://github.com/casbin/gorm-adapter/issues/179 ) and a request for improving customizability ( https://github.com/casbin/gorm-adapter/issues/167 )

[2022-08-26 14:03] hsluoyz commented on #179
@tangyang9464 @JalinWang  I still think we should make it simple and just use up to v5 element. The user can fork the library and extend elements as they want. Supporting customizing it will take a lot of efforts for our maintainers team. We may need two weeks to just finish: https://github.com/casbin/gorm-adapter/issues/180 and this is only one adapter. Remember we have 20+ adapters only for Gola

[2022-08-26 14:05] hsluoyz commented on #180
No need to put more efforts on this, see: https://github.com/casbin/gorm-adapter/issues/179#issuecomment-1228530939

[2022-08-26 14:05] #180 closed

[2022-08-26 14:08] #179 closed

[2022-08-26 14:09] #173 closed

[2022-08-26 14:10] hsluoyz commented on #169
Closed as resolved

[2022-08-26 14:10] #169 closed

[2022-08-26 14:22] hsluoyz commented on #167
@basimsahaf you can implement and customze an adapter with soft-delete

[2022-08-26 14:22] #167 closed

[2022-08-28 13:07] #175 closed

[2022-09-16 05:46] MagicalBomb opened #182 "flaw: dbspecified not works when specify dbname in dsn"
[code]

[2022-09-16 06:59] hsluoyz commented on #182
@JalinWang

/cc @tangyang9464

[2022-09-16 16:32] hsluoyz commented on #182
@MagicalBomb here's the docs: https://github.com/casbin/gorm-adapter#:~:text=//%20Or%20you%20can%20use%20an%20existing%20DB%20%22abc%22%20like%20this%3A%0A%09//%20The%20adapter%20will%20use%20the%20table%20named%20%22casbin_rule%22.%0A%09//%20If%20it%20doesn%27t%20exist%2C%20the%20adapter%20will%20create%20it%20automatically.%0A%09//%20a%20%3A%3D%20gormadapter.NewAdapter(%22mysql%22%2C%20%22mysql_

[2022-09-16 16:32] #182 closed

[2022-10-14 19:34] vine1993 opened #186 "[bug] Resolver mysql"
When i try to use NewAdapterByDB everything explodes with drivers not related to the one that I'm using.

Im using GORM with MySQL and I've got errors related SQL server and SQlite.

**db.go**
[code]

**policy.go**

[code]
<img width="1058" alt="image" src="https://user-images.githubusercontent.com/2659288/195926643-05436ace-5d91-4a43-b79c-8048da448209.png">

I've already checked the DB variable a

[2022-10-15 04:24] hsluoyz commented on #186
@imp2002

[2022-10-19 13:12] imp2002 commented on #186
Sorry, I cannot reproduce your error. Could you provide more code, it is best to run the reproduction directly.

[2022-10-21 03:20] weicome opened #187 "授权操作错误 【Resolver Policy】"
Dear Sirs：
       我遇到一个像是 bug的错误，在授权的时候，无论怎么做都报错了！
      使用的gin httpserver ，gorm mysql ，在尝试授权的时候调用 AddPolicy 和 RemovePolicy 方法报错

-------------------------------------------------------
这个是我的model struct , 位置在models/casbin.go

package models

// Casbin 权限表
type Casbin struct {
	Id     int    `gorm:"primaryKey;autoIncrement;comment:主键编码" json:"Id"`
	PType  string `gorm:"type:varchar(100);default:''

[2022-10-22 16:34] vine1993 commented on #186
@imp2002 im not sure why my main project its getting this issue, I did start a new project, and did work as expected.
Thank you for checking this out, I'm closing this issue.

[2022-10-22 16:34] #186 closed

[2022-10-23 02:14] hsluoyz commented on #187
@weicome plz modify all your title and text into English